# Recommender System Modeling
In this notebook, we will work through multiple iterations of our movie recommender system model. First, we will create a simpler model using just the movie reviews from IMDb. This will give us a baseline model that we can potentially improve on by adding more detailed features.

In [2]:
# Imports
import pandas as pd
import numpy as np
from scipy import sparse
from sklearn.metrics.pairwise import pairwise_distances, cosine_distances, cosine_similarity

## Simple Recommender System
This is a simple recommender system using cosine similarity that can be improved upon and replaced when all our data is properly formatted.

In [3]:
# Let's try this with only our MovieLens reviews first
ml_reviews = pd.read_csv('../Data/Large-Data/ml_reviews.csv')
ml_reviews

          user_id    imdb_id  scaled_rating                    title
0               1  tt0110912           10.0             Pulp Fiction
1               1  tt0111495            7.0    Trois couleurs: Rouge
2               1  tt0108394           10.0     Trois couleurs: Bleu
3               1  tt0114787           10.0              Underground
4               1  tt0045152            7.0      Singin' in the Rain
...           ...        ...            ...                      ...
24969860   162541  tt0382932            9.0              Ratatouille
24969861   162541  tt0389790            5.0                Bee Movie
24969862   162541  tt0952640            4.0  Alvin and the Chipmunks
24969863   162541  tt0468569            8.0          The Dark Knight
24969864   162541  tt1013753           10.0                     Milk

[24969865 rows x 4 columns]

In [4]:
# First let's create a pivot table with a small sample of movie reviews
sampled_reviews = ml_reviews.sample(frac=0.3, random_state=42)

In [57]:
sampled_reviews = ml_reviews[ml_reviews['user_id']<81000]
sampled_reviews

          user_id    imdb_id  scaled_rating                         title
0               1  tt0110912           10.0                  Pulp Fiction
1               1  tt0111495            7.0         Trois couleurs: Rouge
2               1  tt0108394           10.0          Trois couleurs: Bleu
3               1  tt0114787           10.0                   Underground
4               1  tt0045152            7.0           Singin' in the Rain
...           ...        ...            ...                           ...
12511161    80999  tt5657846            9.0                Daddy's Home 2
12511162    80999  tt5095030            6.0          Ant-Man and the Wasp
12511163    80999  tt6921996            9.0  Johnny English Strikes Again
12511164    80999  tt1727824           10.0             Bohemian Rhapsody
12511165    80999  tt6139732            8.0                       Aladdin

[12511166 rows x 4 columns]

In [58]:
print(f"Reviews: {len(sampled_reviews['imdb_id'])}")
print(f"Movies: {sampled_reviews['imdb_id'].nunique()}")
print(f"Users: {sampled_reviews['user_id'].nunique()}")

Reviews: 12511166
Movies: 53786
Users: 80999

In [23]:
sampled_reviews['title'].nunique()

13868

In [40]:
print(f"Reviews: {len(sampled_reviews['imdb_id'])}")
print(f"Movies: {sampled_reviews['imdb_id'].nunique()}")
print(f"Users: {sampled_reviews['user_id'].nunique()}")

Reviews: 7490960
Movies: 44165
Users: 162532

In [4]:
pivot = sampled_reviews.pivot_table(values='scaled_rating', index='title', columns='user_id')
pivot.head()

user_id,1,2,3,4,5,8,9,10,12,13,...,162528,162529,162532,162533,162534,162535,162536,162538,162539,162540
title,,,,,,,,,,,,,,,,,,,,,
#Followme,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
#Nerealnaya lyubov,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
$5 a Day,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
$9.99,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
$ellebrity,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [25]:
pivot.loc['#Followme']

user_id
1        NaN
2        NaN
3        NaN
4        NaN
5        NaN
          ..
162535   NaN
162536   NaN
162538   NaN
162539   NaN
162540   NaN
Name: #Followme, Length: 89946, dtype: float64

In [ ]:
#pivot = ml_reviews.pivot_table(values = 'scaled_rating', index = 'title', columns = 'user_id')

#pivot.head()

In [5]:
pivot.shape

(13868, 89946)

In [6]:
pivot_sparse = sparse.csr_matrix(pivot.fillna(0))

In [7]:
distances = pairwise_distances(pivot_sparse, metric = 'cosine')

In [9]:
similarities = 1.0 - distances

In [10]:
recommender = pd.DataFrame(similarities, index = pivot.index, columns=pivot.index)

recommender.head()

title,#Followme,#Nerealnaya lyubov,$5 a Day,$9.99,$ellebrity,'71,'A' gai wak 2,'Breaker' Morant,'R Xmas,'Round Midnight,...,État de siège,Évolution,Être et avoir,"Ó Paí, Ó",Ôdishon,Ôkami kodomo no Ame to Yuki,Ônibus 174,Ôritsu uchûgun Oneamisu no tsubasa,Üvegtigris,Üç Maymun
title,,,,,,,,,,,,,,,,,,,,,
#Followme,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
#Nerealnaya lyubov,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
$5 a Day,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
$9.99,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
$ellebrity,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [27]:
recommender.loc['#Followme']

title
#Followme                             1.0
#Nerealnaya lyubov                    0.0
$5 a Day                              0.0
$9.99                                 0.0
$ellebrity                            0.0
                                     ...
Ôkami kodomo no Ame to Yuki           0.0
Ônibus 174                            0.0
Ôritsu uchûgun Oneamisu no tsubasa    0.0
Üvegtigris                            0.0
Üç Maymun                             0.0
Name: #Followme, Length: 13868, dtype: float64

In [15]:
imdb_titles = pd.read_csv('../Data/Large-Data/imdb_titles.csv')

In [16]:
imdb_titles.head()

     titleId                   title
0  tt0000001              Carmencita
1  tt0000002  Le clown et ses chiens
2  tt0000003          Pauvre Pierrot
3  tt0000004             Un bon bock
4  tt0000005        Blacksmith Scene

In [17]:
q = 'Toy Story'

for title in imdb_titles.loc[imdb_titles['title'].str.contains(q), 'title']:
    print(title)
    print(recommender[title].sort_values(ascending = False)[1:11])
    print()
    print()

Toy Story
title
Flicka                                                              0.050089
They Wait                                                           0.050089
DOA: Dead or Alive                                                  0.048198
Fancy Pants                                                         0.047519
Godspell: A Musical Based on the Gospel According to St. Matthew    0.045080
Courageous                                                          0.045080
Talk Radio                                                          0.044801
Ball of Fire                                                        0.043786
Punchline                                                           0.042475
Scooby-Doo and the Loch Ness Monster                                0.040071
Name: Toy Story, dtype: float64


Toy Story 2
title
Nightmare at Noon                                                0.077706
Her Alibi                                                        0.077706
Gertrud                                                          0.077706
Zorro                                                            0.077706
Triumph's Election Watch 2016                                    0.077706
Ron White: If You Quit Listening, I'll Shut Up                   0.077706
Marvel One-Shot: The Consultant                                  0.077706
Beware the Moon: Remembering 'An American Werewolf in London'    0.077706
Underclassman                                                    0.077706
Follow That Dream                                                0.077706
Name: Toy Story 2, dtype: float64


Toy Story
title
Flicka                                                              0.050089
They Wait                                                           0.050089
DOA: Dead or Alive                                                  0.048198
Fancy Pants                                                         0.047519
Godspell: A Musical Based on the Gospel According to St. Matthew    0.045080
Courageous                                                          0.045080
Talk Radio                                                          0.044801
Ball of Fire                                                        0.043786
Punchline                                                           0.042475
Scooby-Doo and the Loch Ness Monster                                0.040071
Name: Toy Story, dtype: float64


The Story Behind 'Toy Story'

KeyError: "The Story Behind 'Toy Story'"

## Scale to include more reviews

In [30]:
over_100 = pd.read_csv('../Data/Large-Data/over_100_reviews.csv')
over_100

/var/folders/jc/vvd13n2d3m33dzsrsg9ydhb00000gn/T/ipykernel_2114/3744431260.py:1: DtypeWarning: Columns (0) have mixed types. Specify dtype option on import or set low_memory=False.
  over_100 = pd.read_csv('../Data/Large-Data/over_100_reviews.csv')

            user_id    imdb_id  scaled_rating                      title
0                 1  tt0110912           10.0               Pulp Fiction
1                 1  tt0111495            7.0      Trois couleurs: Rouge
2                 1  tt0108394           10.0       Trois couleurs: Bleu
3                 1  tt0114787           10.0                Underground
4                 1  tt0045152            7.0        Singin' in the Rain
...             ...        ...            ...                        ...
27522147  ur3174947  tt0096895            8.0                     Batman
27522148  ur0581842  tt0107977            6.0  Robin Hood: Men in Tights
27522149  ur3174947  tt0103776            8.0             Batman Returns
27522150  ur4581944  tt0102614            8.0            Out for Justice
27522151  ur1162550  tt0325596            7.0               The I Inside

[27522152 rows x 4 columns]

In [34]:
print(f"Reviews: {len(over_100['imdb_id'])}")
print(f"Movies: {over_100['imdb_id'].nunique()}")
print(f"Users: {over_100['user_id'].nunique()}")

Reviews: 27522152
Movies: 14339
Users: 1229633

In [35]:
pivot_100 = over_100.pivot_table(values='scaled_rating', index='title', columns='user_id')
pivot_100.head()

/var/folders/jc/vvd13n2d3m33dzsrsg9ydhb00000gn/T/ipykernel_2114/3778825614.py:1: PerformanceWarning: The following operation may generate 16858268430 cells in the resulting pandas object.
  pivot_100 = over_100.pivot_table(values='scaled_rating', index='title', columns='user_id')

:

In [ ]:
pivot_100 = ml_reviews.pivot_table(values = 'scaled_rating', index = 'title', columns = 'user_id')

pivot_100.head()

In [32]:
pivot_100.shape

In [ ]:
pivot_100_sparse = sparse.csr_matrix(pivot_100.fillna(0))

In [ ]:
distances_100 = pairwise_distances(pivot_100_sparse, metric = 'cosine')

In [ ]:
similarities_100 = 1.0 - distances_100

In [33]:
recommender_100 = pd.DataFrame(similarities_100, index = pivot_100.index, columns=pivot_100.index)

recommender_100.head()

In [ ]:
imdb_titles.head()

     titleId                   title
0  tt0000001              Carmencita
1  tt0000002  Le clown et ses chiens
2  tt0000003          Pauvre Pierrot
3  tt0000004             Un bon bock
4  tt0000005        Blacksmith Scene

In [ ]:
q = 'Toy Story'

for title in imdb_titles.loc[imdb_titles['title'].str.contains(q), 'title']:
    print(title)
    print(recommender_100[title].sort_values(ascending = False)[1:11])
    print()
    print()

Toy Story
title
Flicka                                                              0.050089
They Wait                                                           0.050089
DOA: Dead or Alive                                                  0.048198
Fancy Pants                                                         0.047519
Godspell: A Musical Based on the Gospel According to St. Matthew    0.045080
Courageous                                                          0.045080
Talk Radio                                                          0.044801
Ball of Fire                                                        0.043786
Punchline                                                           0.042475
Scooby-Doo and the Loch Ness Monster                                0.040071
Name: Toy Story, dtype: float64


Toy Story 2
title
Nightmare at Noon                                                0.077706
Her Alibi                                                        0.077706
Gertrud                                                          0.077706
Zorro                                                            0.077706
Triumph's Election Watch 2016                                    0.077706
Ron White: If You Quit Listening, I'll Shut Up                   0.077706
Marvel One-Shot: The Consultant                                  0.077706
Beware the Moon: Remembering 'An American Werewolf in London'    0.077706
Underclassman                                                    0.077706
Follow That Dream                                                0.077706
Name: Toy Story 2, dtype: float64


Toy Story
title
Flicka                                                              0.050089
They Wait                                                           0.050089
DOA: Dead or Alive                                                  0.048198
Fancy Pants                                                         0.047519
Godspell: A Musical Based on the Gospel According to St. Matthew    0.045080
Courageous                                                          0.045080
Talk Radio                                                          0.044801
Ball of Fire                                                        0.043786
Punchline                                                           0.042475
Scooby-Doo and the Loch Ness Monster                                0.040071
Name: Toy Story, dtype: float64


The Story Behind 'Toy Story'

KeyError: "The Story Behind 'Toy Story'"

# skipping pivot table creation

In [5]:
from scipy.sparse import csr_matrix

In [11]:
def create_matrix(df):
     
    N = len(df['user_id'].unique())
    M = len(df['imdb_id'].unique())
     
    # Map Ids to indices
    user_mapper = dict(zip(np.unique(df["user_id"]), list(range(N))))
    movie_mapper = dict(zip(np.unique(df["imdb_id"]), list(range(M))))
     
    # Map indices to IDs
    user_inv_mapper = dict(zip(list(range(N)), np.unique(df["user_id"])))
    movie_inv_mapper = dict(zip(list(range(M)), np.unique(df["imdb_id"])))
     
    user_index = [user_mapper[i] for i in df['user_id']]
    movie_index = [movie_mapper[i] for i in df['imdb_id']]
 
    X = csr_matrix((df["scaled_rating"], (movie_index, user_index)), shape=(M, N))
     
    return X, user_mapper, movie_mapper, user_inv_mapper, movie_inv_mapper, user_index, movie_index

In [59]:
ordered_titles = sampled_reviews.drop_duplicates(subset = 'imdb_id').sort_values(by='imdb_id', ascending=True)['title']

In [60]:
X, user_mapper, movie_mapper, user_inv_mapper, movie_inv_mapper, user_index, movie_index = create_matrix(sampled_reviews)

In [61]:
len(movie_mapper)

53786

In [44]:
movie_mapper

{'tt0000001': 0,
 'tt0000003': 1,
 'tt0000008': 2,
 'tt0000010': 3,
 'tt0000012': 4,
 'tt0000013': 5,
 'tt0000014': 6,
 'tt0000016': 7,
 'tt0000022': 8,
 'tt0000023': 9,
 'tt0000027': 10,
 'tt0000028': 11,
 'tt0000029': 12,
 'tt0000033': 13,
 'tt0000041': 14,
 'tt0000070': 15,
 'tt0000075': 16,
 'tt0000091': 17,
 'tt0000131': 18,
 'tt0000138': 19,
 'tt0000192': 20,
 'tt0000211': 21,
 'tt0000230': 22,
 'tt0000242': 23,
 'tt0000274': 24,
 'tt0000299': 25,
 'tt0000300': 26,
 'tt0000304': 27,
 'tt0000313': 28,
 'tt0000355': 29,
 'tt0000358': 30,
 'tt0000359': 31,
 'tt0000364': 32,
 'tt0000410': 33,
 'tt0000417': 34,
 'tt0000420': 35,
 'tt0000423': 36,
 'tt0000439': 37,
 'tt0000447': 38,
 'tt0000455': 39,
 'tt0000465': 40,
 'tt0000469': 41,
 'tt0000488': 42,
 'tt0000498': 43,
 'tt0000499': 44,
 'tt0000516': 45,
 'tt0000524': 46,
 'tt0000534': 47,
 'tt0000546': 48,
 'tt0000553': 49,
 'tt0000554': 50,
 'tt0000565': 51,
 'tt0000567': 52,
 'tt0000574': 53,
 'tt0000614': 54,
 'tt0000628': 55,
 'tt0000682': 56,
 'tt0000832': 57,
 'tt0000833': 58,
 'tt0000840': 59,
 'tt0000852': 60,
 'tt0000942': 61,
 'tt0001032': 62,
 'tt0001062': 63,
 'tt0001091': 64,
 'tt0001223': 65,
 'tt0001265': 66,
 'tt0001431': 67,
 'tt0001499': 68,
 'tt0001527': 69,
 'tt0001593': 70,
 'tt0001737': 71,
 'tt0001740': 72,
 'tt0002082': 73,
 'tt0002101': 74,
 'tt0002130': 75,
 'tt0002233': 76,
 'tt0002260': 77,
 'tt0002350': 78,
 'tt0002357': 79,
 'tt0002381': 80,
 'tt0002544': 81,
 'tt0002646': 82,
 'tt0002844': 83,
 'tt0002985': 84,
 'tt0003014': 85,
 'tt0003016': 86,
 'tt0003037': 87,
 'tt0003419': 88,
 'tt0003471': 89,
 'tt0003615': 90,
 'tt0003643': 91,
 'tt0003662': 92,
 'tt0003733': 93,
 'tt0003740': 94,
 'tt0003758': 95,
 'tt0003805': 96,
 'tt0003863': 97,
 'tt0003923': 98,
 'tt0003930': 99,
 'tt0003952': 100,
 'tt0004008': 101,
 'tt0004066': 102,
 'tt0004091': 103,
 'tt0004100': 104,
 'tt0004101': 105,
 'tt0004102': 106,
 'tt0004134': 107,
 'tt0004181': 108,
 'tt0004189': 109,
 'tt0004194': 110,
 'tt0004210': 111,
 'tt0004277': 112,
 'tt0004282': 113,
 'tt0004284': 114,
 'tt0004286': 115,
 'tt0004288': 116,
 'tt0004395': 117,
 'tt0004413': 118,
 'tt0004457': 119,
 'tt0004546': 120,
 'tt0004555': 121,
 'tt0004635': 122,
 'tt0004707': 123,
 'tt0004712': 124,
 'tt0004873': 125,
 'tt0004936': 126,
 'tt0004972': 127,
 'tt0005044': 128,
 'tt0005059': 129,
 'tt0005060': 130,
 'tt0005074': 131,
 'tt0005078': 132,
 'tt0005198': 133,
 'tt0005339': 134,
 'tt0005529': 135,
 'tt0005542': 136,
 'tt0005571': 137,
 'tt0005810': 138,
 'tt0005812': 139,
 'tt0005960': 140,
 'tt0006032': 141,
 'tt0006177': 142,
 'tt0006206': 143,
 'tt0006333': 144,
 'tt0006405': 145,
 'tt0006414': 146,
 'tt0006511': 147,
 'tt0006548': 148,
 'tt0006684': 149,
 'tt0006688': 150,
 'tt0006689': 151,
 'tt0006745': 152,
 'tt0006780': 153,
 'tt0006826': 154,
 'tt0006864': 155,
 'tt0006886': 156,
 'tt0007003': 157,
 'tt0007047': 158,
 'tt0007108': 159,
 'tt0007145': 160,
 'tt0007162': 161,
 'tt0007194': 162,
 'tt0007264': 163,
 'tt0007338': 164,
 'tt0007361': 165,
 'tt0007476': 166,
 'tt0007507': 167,
 'tt0007558': 168,
 'tt0007613': 169,
 'tt0007755': 170,
 'tt0007819': 171,
 'tt0007832': 172,
 'tt0007880': 173,
 'tt0008112': 174,
 'tt0008133': 175,
 'tt0008395': 176,
 'tt0008442': 177,
 'tt0008443': 178,
 'tt0008523': 179,
 'tt0008536': 180,
 'tt0008663': 181,
 'tt0008710': 182,
 'tt0008775': 183,
 'tt0008874': 184,
 'tt0008879': 185,
 'tt0008891': 186,
 'tt0008930': 187,
 'tt0008975': 188,
 'tt0009018': 189,
 'tt0009026': 190,
 'tt0009062': 191,
 'tt0009123': 192,
 'tt0009369': 193,
 'tt0009611': 194,
 'tt0009652': 195,
 'tt0009796': 196,
 'tt0009878': 197,
 'tt0009893': 198,
 'tt0009899': 199,
 'tt0009915': 200,
 'tt0009932': 201,
 'tt0009937': 202,
 'tt0009968': 203,
 'tt0009976': 204,
 'tt0010040': 205,
 'tt0010057': 206,
 'tt0010112': 207,
 'tt0010155': 208,
 'tt0010195': 209,
 'tt0010208': 210,
 'tt0010247': 211,
 'tt0010281': 212,
 'tt0010307': 213,
 'tt0010323': 214,
 'tt0010418': 215,
 'tt0010600': 216,
 'tt0010726': 217,
 'tt0010747': 218,
 'tt0010806': 219,
 'tt0010821': 220,
 'tt0010879': 221,
 'tt0011000': 222,
 'tt0011071': 223,
 'tt0011130': 224,
 'tt0011144': 225,
 'tt0011157': 226,
 'tt0011193': 227,
 'tt0011237': 228,
 'tt0011293': 229,
 'tt0011294': 230,
 'tt0011358': 231,
 'tt0011370': 232,
 'tt0011387': 233,
 'tt0011439': 234,
 'tt0011508': 235,
 'tt0011521': 236,
 'tt0011541': 237,
 'tt0011548': 238,
 'tt0011565': 239,
 'tt0011607': 240,
 'tt0011652': 241,
 'tt0011656': 242,
 'tt0011742': 243,
 'tt0011833': 244,
 'tt0011841': 245,
 'tt0011865': 246,
 'tt0011870': 247,
 'tt0011904': 248,
 'tt0011908': 249,
 'tt0011909': 250,
 'tt0011979': 251,
 'tt0011984': 252,
 'tt0012027': 253,
 'tt0012123': 254,
 'tt0012136': 255,
 'tt0012190': 256,
 'tt0012224': 257,
 'tt0012253': 258,
 'tt0012255': 259,
 'tt0012278': 260,
 'tt0012304': 261,
 'tt0012349': 262,
 'tt0012364': 263,
 'tt0012397': 264,
 'tt0012486': 265,
 'tt0012494': 266,
 'tt0012499': 267,
 'tt0012532': 268,
 'tt0012543': 269,
 'tt0012570': 270,
 'tt0012675': 271,
 'tt0012763': 272,
 'tt0012769': 273,
 'tt0012806': 274,
 'tt0012881': 275,
 'tt0012938': 276,
 'tt0012945': 277,
 'tt0012952': 278,
 'tt0013025': 279,
 'tt0013055': 280,
 'tt0013075': 281,
 'tt0013086': 282,
 'tt0013099': 283,
 'tt0013134': 284,
 'tt0013140': 285,
 'tt0013149': 286,
 'tt0013158': 287,
 'tt0013201': 288,
 'tt0013257': 289,
 'tt0013323': 290,
 'tt0013367': 291,
 'tt0013386': 292,
 'tt0013422': 293,
 'tt0013427': 294,
 'tt0013442': 295,
 'tt0013496': 296,
 'tt0013556': 297,
 'tt0013571': 298,
 'tt0013579': 299,
 'tt0013597': 300,
 'tt0013626': 301,
 'tt0013662': 302,
 'tt0013674': 303,
 'tt0013688': 304,
 'tt0013690': 305,
 'tt0013750': 306,
 'tt0013802': 307,
 'tt0013823': 308,
 'tt0013858': 309,
 'tt0013933': 310,
 'tt0014029': 311,
 'tt0014109': 312,
 'tt0014142': 313,
 'tt0014218': 314,
 'tt0014341': 315,
 'tt0014358': 316,
 'tt0014406': 317,
 'tt0014417': 318,
 'tt0014429': 319,
 'tt0014440': 320,
 'tt0014463': 321,
 'tt0014497': 322,
 'tt0014532': 323,
 'tt0014538': 324,
 'tt0014586': 325,
 'tt0014611': 326,
 'tt0014624': 327,
 'tt0014646': 328,
 'tt0014694': 329,
 'tt0014770': 330,
 'tt0014872': 331,
 'tt0014945': 332,
 'tt0014972': 333,
 'tt0015014': 334,
 'tt0015016': 335,
 'tt0015039': 336,
 'tt0015064': 337,
 'tt0015119': 338,
 'tt0015136': 339,
 'tt0015152': 340,
 'tt0015163': 341,
 'tt0015167': 342,
 'tt0015174': 343,
 'tt0015175': 344,
 'tt0015202': 345,
 'tt0015268': 346,
 'tt0015310': 347,
 'tt0015324': 348,
 'tt0015361': 349,
 'tt0015384': 350,
 'tt0015400': 351,
 'tt0015532': 352,
 'tt0015589': 353,
 'tt0015624': 354,
 'tt0015634': 355,
 'tt0015648': 356,
 'tt0015673': 357,
 'tt0015687': 358,
 'tt0015693': 359,
 'tt0015801': 360,
 'tt0015841': 361,
 'tt0015861': 362,
 'tt0015863': 363,
 'tt0015864': 364,
 'tt0015873': 365,
 'tt0015881': 366,
 'tt0015921': 367,
 'tt0016004': 368,
 'tt0016013': 369,
 'tt0016028': 370,
 'tt0016029': 371,
 'tt0016039': 372,
 'tt0016104': 373,
 'tt0016107': 374,
 'tt0016123': 375,
 'tt0016201': 376,
 'tt0016220': 377,
 'tt0016230': 378,
 'tt0016310': 379,
 'tt0016332': 380,
 'tt0016473': 381,
 'tt0016481': 382,
 'tt0016544': 383,
 'tt0016629': 384,
 'tt0016630': 385,
 'tt0016640': 386,
 'tt0016641': 387,
 'tt0016654': 388,
 'tt0016655': 389,
 'tt0016669': 390,
 'tt0016691': 391,
 'tt0016847': 392,
 'tt0016884': 393,
 'tt0016895': 394,
 'tt0016914': 395,
 'tt0016938': 396,
 'tt0016939': 397,
 'tt0016953': 398,
 'tt0017004': 399,
 'tt0017048': 400,
 'tt0017075': 401,
 'tt0017103': 402,
 'tt0017119': 403,
 'tt0017120': 404,
 'tt0017128': 405,
 'tt0017136': 406,
 'tt0017162': 407,
 'tt0017204': 408,
 'tt0017271': 409,
 'tt0017350': 410,
 'tt0017372': 411,
 'tt0017374': 412,
 'tt0017416': 413,
 'tt0017418': 414,
 'tt0017423': 415,
 'tt0017437': 416,
 'tt0017448': 417,
 'tt0017449': 418,
 'tt0017463': 419,
 'tt0017534': 420,
 'tt0017567': 421,
 'tt0017621': 422,
 'tt0017668': 423,
 'tt0017739': 424,
 'tt0017743': 425,
 'tt0017748': 426,
 'tt0017750': 427,
 'tt0017751': 428,
 'tt0017765': 429,
 'tt0017775': 430,
 'tt0017809': 431,
 'tt0017825': 432,
 'tt0017843': 433,
 'tt0017918': 434,
 'tt0017925': 435,
 'tt0017949': 436,
 'tt0017961': 437,
 'tt0018033': 438,
 'tt0018037': 439,
 'tt0018051': 440,
 'tt0018054': 441,
 'tt0018066': 442,
 'tt0018087': 443,
 'tt0018097': 444,
 'tt0018166': 445,
 'tt0018179': 446,
 'tt0018183': 447,
 'tt0018192': 448,
 'tt0018217': 449,
 'tt0018246': 450,
 'tt0018294': 451,
 'tt0018311': 452,
 'tt0018328': 453,
 'tt0018379': 454,
 'tt0018392': 455,
 'tt0018397': 456,
 'tt0018440': 457,
 'tt0018451': 458,
 'tt0018455': 459,
 'tt0018471': 460,
 'tt0018515': 461,
 'tt0018523': 462,
 'tt0018524': 463,
 'tt0018526': 464,
 'tt0018528': 465,
 'tt0018578': 466,
 'tt0018618': 467,
 'tt0018737': 468,
 'tt0018742': 469,
 'tt0018756': 470,
 'tt0018770': 471,
 'tt0018773': 472,
 'tt0018795': 473,
 'tt0018806': 474,
 'tt0018839': 475,
 'tt0018873': 476,
 'tt0018876': 477,
 'tt0018908': 478,
 'tt0018935': 479,
 'tt0018937': 480,
 'tt0019067': 481,
 'tt0019071': 482,
 'tt0019074': 483,
 'tt0019079': 484,
 'tt0019096': 485,
 'tt0019109': 486,
 'tt0019127': 487,
 'tt0019130': 488,
 'tt0019186': 489,
 'tt0019195': 490,
 'tt0019237': 491,
 'tt0019254': 492,
 'tt0019258': 493,
 'tt0019267': 494,
 'tt0019278': 495,
 'tt0019286': 496,
 'tt0019304': 497,
 'tt0019379': 498,
 'tt0019400': 499,
 'tt0019412': 500,
 'tt0019415': 501,
 'tt0019421': 502,
 'tt0019422': 503,
 'tt0019429': 504,
 'tt0019504': 505,
 'tt0019532': 506,
 'tt0019558': 507,
 'tt0019563': 508,
 'tt0019571': 509,
 'tt0019574': 510,
 'tt0019585': 511,
 'tt0019591': 512,
 'tt0019607': 513,
 'tt0019609': 514,
 'tt0019611': 515,
 'tt0019630': 516,
 'tt0019644': 517,
 'tt0019649': 518,
 'tt0019655': 519,
 'tt0019686': 520,
 'tt0019699': 521,
 'tt0019702': 522,
 'tt0019725': 523,
 'tt0019729': 524,
 'tt0019735': 525,
 'tt0019760': 526,
 'tt0019777': 527,
 'tt0019802': 528,
 'tt0019823': 529,
 'tt0019824': 530,
 'tt0019838': 531,
 'tt0019850': 532,
 'tt0019901': 533,
 'tt0019935': 534,
 'tt0019946': 535,
 'tt0019959': 536,
 'tt0019968': 537,
 'tt0019975': 538,
 'tt0019993': 539,
 'tt0020018': 540,
 'tt0020030': 541,
 'tt0020062': 542,
 'tt0020094': 543,
 'tt0020103': 544,
 'tt0020112': 545,
 'tt0020114': 546,
 'tt0020122': 547,
 'tt0020142': 548,
 'tt0020163': 549,
 'tt0020198': 550,
 'tt0020223': 551,
 'tt0020247': 552,
 'tt0020269': 553,
 'tt0020298': 554,
 'tt0020321': 555,
 'tt0020389': 556,
 'tt0020414': 557,
 'tt0020439': 558,
 'tt0020442': 559,
 'tt0020445': 560,
 'tt0020446': 561,
 'tt0020451': 562,
 'tt0020458': 563,
 'tt0020466': 564,
 'tt0020475': 565,
 'tt0020479': 566,
 'tt0020484': 567,
 'tt0020499': 568,
 'tt0020530': 569,
 'tt0020570': 570,
 'tt0020585': 571,
 'tt0020620': 572,
 'tt0020629': 573,
 'tt0020640': 574,
 'tt0020641': 575,
 'tt0020643': 576,
 'tt0020647': 577,
 'tt0020658': 578,
 'tt0020667': 579,
 'tt0020668': 580,
 'tt0020686': 581,
 'tt0020691': 582,
 'tt0020695': 583,
 'tt0020697': 584,
 'tt0020701': 585,
 'tt0020708': 586,
 'tt0020768': 587,
 'tt0020793': 588,
 'tt0020814': 589,
 'tt0020815': 590,
 'tt0020821': 591,
 'tt0020827': 592,
 'tt0020836': 593,
 'tt0020852': 594,
 'tt0020876': 595,
 'tt0020945': 596,
 'tt0020960': 597,
 'tt0020987': 598,
 'tt0021004': 599,
 'tt0021015': 600,
 'tt0021016': 601,
 'tt0021025': 602,
 'tt0021040': 603,
 'tt0021042': 604,
 'tt0021054': 605,
 'tt0021074': 606,
 'tt0021079': 607,
 'tt0021106': 608,
 'tt0021110': 609,
 'tt0021140': 610,
 'tt0021146': 611,
 'tt0021148': 612,
 'tt0021149': 613,
 'tt0021151': 614,
 'tt0021156': 615,
 'tt0021165': 616,
 'tt0021166': 617,
 'tt0021181': 618,
 'tt0021223': 619,
 'tt0021225': 620,
 'tt0021262': 621,
 'tt0021281': 622,
 'tt0021282': 623,
 'tt0021283': 624,
 'tt0021287': 625,
 'tt0021304': 626,
 'tt0021310': 627,
 'tt0021371': 628,
 'tt0021375': 629,
 'tt0021377': 630,
 'tt0021406': 631,
 'tt0021408': 632,
 'tt0021409': 633,
 'tt0021424': 634,
 'tt0021434': 635,
 'tt0021493': 636,
 'tt0021505': 637,
 'tt0021508': 638,
 'tt0021542': 639,
 'tt0021549': 640,
 'tt0021556': 641,
 'tt0021571': 642,
 'tt0021576': 643,
 'tt0021577': 644,
 'tt0021595': 645,
 'tt0021607': 646,
 'tt0021622': 647,
 'tt0021632': 648,
 'tt0021633': 649,
 'tt0021635': 650,
 'tt0021647': 651,
 'tt0021664': 652,
 'tt0021668': 653,
 'tt0021673': 654,
 'tt0021686': 655,
 'tt0021697': 656,
 'tt0021720': 657,
 'tt0021730': 658,
 'tt0021739': 659,
 'tt0021742': 660,
 'tt0021746': 661,
 'tt0021749': 662,
 'tt0021750': 663,
 'tt0021752': 664,
 'tt0021756': 665,
 'tt0021761': 666,
 'tt0021770': 667,
 'tt0021772': 668,
 'tt0021778': 669,
 'tt0021780': 670,
 'tt0021800': 671,
 'tt0021810': 672,
 'tt0021814': 673,
 'tt0021815': 674,
 'tt0021818': 675,
 'tt0021831': 676,
 'tt0021864': 677,
 'tt0021873': 678,
 'tt0021874': 679,
 'tt0021883': 680,
 'tt0021884': 681,
 'tt0021885': 682,
 'tt0021890': 683,
 'tt0021910': 684,
 'tt0021933': 685,
 'tt0021964': 686,
 'tt0021969': 687,
 'tt0021992': 688,
 'tt0022017': 689,
 'tt0022058': 690,
 'tt0022059': 691,
 'tt0022074': 692,
 'tt0022086': 693,
 'tt0022100': 694,
 'tt0022111': 695,
 'tt0022119': 696,
 'tt0022125': 697,
 'tt0022145': 698,
 'tt0022147': 699,
 'tt0022149': 700,
 'tt0022150': 701,
 'tt0022153': 702,
 'tt0022158': 703,
 'tt0022164': 704,
 'tt0022183': 705,
 'tt0022191': 706,
 'tt0022208': 707,
 'tt0022236': 708,
 'tt0022251': 709,
 'tt0022254': 710,
 'tt0022268': 711,
 'tt0022276': 712,
 'tt0022279': 713,
 'tt0022286': 714,
 'tt0022289': 715,
 'tt0022335': 716,
 'tt0022353': 717,
 'tt0022357': 718,
 'tt0022382': 719,
 'tt0022386': 720,
 'tt0022395': 721,
 'tt0022397': 722,
 'tt0022403': 723,
 'tt0022418': 724,
 'tt0022420': 725,
 'tt0022430': 726,
 'tt0022436': 727,
 'tt0022440': 728,
 'tt0022454': 729,
 'tt0022458': 730,
 'tt0022462': 731,
 'tt0022485': 732,
 'tt0022495': 733,
 'tt0022515': 734,
 'tt0022517': 735,
 'tt0022550': 736,
 'tt0022584': 737,
 'tt0022599': 738,
 'tt0022626': 739,
 'tt0022628': 740,
 'tt0022639': 741,
 'tt0022647': 742,
 'tt0022651': 743,
 'tt0022660': 744,
 'tt0022670': 745,
 'tt0022676': 746,
 'tt0022679': 747,
 'tt0022688': 748,
 'tt0022689': 749,
 'tt0022694': 750,
 'tt0022696': 751,
 'tt0022698': 752,
 'tt0022700': 753,
 'tt0022718': 754,
 'tt0022725': 755,
 'tt0022735': 756,
 'tt0022737': 757,
 'tt0022753': 758,
 'tt0022755': 759,
 'tt0022775': 760,
 'tt0022787': 761,
 'tt0022790': 762,
 'tt0022792': 763,
 'tt0022807': 764,
 'tt0022827': 765,
 'tt0022834': 766,
 'tt0022835': 767,
 'tt0022854': 768,
 'tt0022867': 769,
 'tt0022877': 770,
 'tt0022879': 771,
 'tt0022882': 772,
 'tt0022883': 773,
 'tt0022899': 774,
 'tt0022905': 775,
 'tt0022913': 776,
 'tt0022921': 777,
 'tt0022958': 778,
 'tt0022962': 779,
 'tt0022979': 780,
 'tt0022990': 781,
 'tt0023027': 782,
 'tt0023028': 783,
 'tt0023037': 784,
 'tt0023038': 785,
 'tt0023042': 786,
 'tt0023049': 787,
 'tt0023074': 788,
 'tt0023082': 789,
 'tt0023093': 790,
 'tt0023101': 791,
 'tt0023104': 792,
 'tt0023121': 793,
 'tt0023151': 794,
 'tt0023158': 795,
 'tt0023180': 796,
 'tt0023194': 797,
 'tt0023196': 798,
 'tt0023198': 799,
 'tt0023214': 800,
 'tt0023225': 801,
 'tt0023227': 802,
 'tt0023236': 803,
 'tt0023238': 804,
 'tt0023240': 805,
 'tt0023241': 806,
 'tt0023245': 807,
 'tt0023249': 808,
 'tt0023251': 809,
 'tt0023262': 810,
 'tt0023266': 811,
 'tt0023277': 812,
 'tt0023285': 813,
 'tt0023293': 814,
 'tt0023303': 815,
 'tt0023305': 816,
 'tt0023312': 817,
 'tt0023313': 818,
 'tt0023322': 819,
 'tt0023327': 820,
 'tt0023349': 821,
 'tt0023362': 822,
 'tt0023369': 823,
 'tt0023374': 824,
 'tt0023382': 825,
 'tt0023385': 826,
 'tt0023394': 827,
 'tt0023395': 828,
 'tt0023396': 829,
 'tt0023410': 830,
 'tt0023422': 831,
 'tt0023427': 832,
 'tt0023450': 833,
 'tt0023456': 834,
 'tt0023458': 835,
 'tt0023470': 836,
 'tt0023486': 837,
 'tt0023488': 838,
 'tt0023491': 839,
 'tt0023551': 840,
 'tt0023556': 841,
 'tt0023563': 842,
 'tt0023582': 843,
 'tt0023583': 844,
 'tt0023590': 845,
 'tt0023594': 846,
 'tt0023613': 847,
 'tt0023622': 848,
 'tt0023629': 849,
 'tt0023634': 850,
 'tt0023642': 851,
 'tt0023649': 852,
 'tt0023659': 853,
 'tt0023685': 854,
 'tt0023686': 855,
 'tt0023694': 856,
 'tt0023701': 857,
 'tt0023729': 858,
 'tt0023731': 859,
 'tt0023753': 860,
 'tt0023758': 861,
 'tt0023775': 862,
 'tt0023778': 863,
 'tt0023783': 864,
 'tt0023786': 865,
 'tt0023794': 866,
 'tt0023797': 867,
 'tt0023800': 868,
 'tt0023803': 869,
 'tt0023812': 870,
 'tt0023814': 871,
 'tt0023825': 872,
 'tt0023838': 873,
 'tt0023852': 874,
 'tt0023854': 875,
 'tt0023858': 876,
 'tt0023871': 877,
 'tt0023876': 878,
 'tt0023878': 879,
 'tt0023911': 880,
 'tt0023926': 881,
 'tt0023937': 882,
 'tt0023939': 883,
 'tt0023940': 884,
 'tt0023943': 885,
 'tt0023948': 886,
 'tt0023955': 887,
 'tt0023956': 888,
 'tt0023960': 889,
 'tt0023969': 890,
 'tt0023985': 891,
 'tt0023986': 892,
 'tt0023993': 893,
 'tt0024006': 894,
 'tt0024008': 895,
 'tt0024025': 896,
 'tt0024028': 897,
 'tt0024034': 898,
 'tt0024044': 899,
 'tt0024055': 900,
 'tt0024069': 901,
 'tt0024083': 902,
 'tt0024104': 903,
 'tt0024115': 904,
 'tt0024120': 905,
 'tt0024124': 906,
 'tt0024166': 907,
 'tt0024183': 908,
 'tt0024184': 909,
 'tt0024188': 910,
 'tt0024214': 911,
 'tt0024216': 912,
 'tt0024238': 913,
 'tt0024239': 914,
 'tt0024240': 915,
 'tt0024252': 916,
 'tt0024262': 917,
 'tt0024264': 918,
 'tt0024285': 919,
 'tt0024302': 920,
 'tt0024307': 921,
 'tt0024314': 922,
 'tt0024329': 923,
 'tt0024334': 924,
 'tt0024339': 925,
 'tt0024353': 926,
 'tt0024360': 927,
 'tt0024368': 928,
 'tt0024380': 929,
 'tt0024381': 930,
 'tt0024402': 931,
 'tt0024403': 932,
 'tt0024404': 933,
 'tt0024413': 934,
 'tt0024414': 935,
 'tt0024421': 936,
 'tt0024451': 937,
 'tt0024453': 938,
 'tt0024461': 939,
 'tt0024471': 940,
 'tt0024473': 941,
 'tt0024475': 942,
 'tt0024481': 943,
 'tt0024484': 944,
 'tt0024500': 945,
 'tt0024514': 946,
 'tt0024516': 947,
 'tt0024548': 948,
 'tt0024549': 949,
 'tt0024578': 950,
 'tt0024593': 951,
 'tt0024600': 952,
 'tt0024601': 953,
 'tt0024610': 954,
 'tt0024617': 955,
 'tt0024631': 956,
 'tt0024645': 957,
 'tt0024660': 958,
 'tt0024663': 959,
 'tt0024675': 960,
 'tt0024684': 961,
 'tt0024696': 962,
 'tt0024710': 963,
 'tt0024721': 964,
 'tt0024727': 965,
 'tt0024742': 966,
 'tt0024744': 967,
 'tt0024747': 968,
 'tt0024762': 969,
 'tt0024768': 970,
 'tt0024772': 971,
 'tt0024800': 972,
 'tt0024803': 973,
 'tt0024805': 974,
 'tt0024819': 975,
 'tt0024824': 976,
 'tt0024830': 977,
 'tt0024831': 978,
 'tt0024844': 979,
 'tt0024852': 980,
 'tt0024865': 981,
 'tt0024866': 982,
 'tt0024873': 983,
 'tt0024886': 984,
 'tt0024894': 985,
 'tt0024895': 986,
 'tt0024902': 987,
 'tt0024906': 988,
 'tt0024908': 989,
 'tt0024914': 990,
 'tt0024915': 991,
 'tt0024921': 992,
 'tt0024924': 993,
 'tt0024928': 994,
 'tt0024930': 995,
 'tt0024946': 996,
 'tt0024961': 997,
 'tt0024962': 998,
 'tt0024963': 999,
 ...}

In [1]:
distances = pairwise_distances(X, metric = 'cosine')

NameError: name 'pairwise_distances' is not defined

In [ ]:
#user_index = [user_mapper[i] for i in df['user_id']]
#movie_index = [movie_mapper[i] for i in df['imdb_id']]

##print((df["scaled_rating"], (movie_index, user_index)))

In [46]:
similarities = 1.0 - distances

In [47]:
similarities.shape

(44165, 44165)

In [49]:
recommender = pd.DataFrame(similarities, index = ordered_titles, columns=ordered_titles)

recommender.head()

title,Carmencita,Pauvre Pierrot,Edison Kinetoscopic Record of a Sneeze,La sortie de l'usine Lumière à Lyon,L'arrivée d'un train à La Ciotat,Le débarquement du congrès de photographie à Lyon,L'arroseur arrosé,Barque sortant du port,Les forgerons,Baignade en mer,...,The Hard Way,Jimmy Carr: The Best of Ultimate Gold Greatest Hits,The Banana Splits Movie,Fin de siglo,Kaijû no kodomo,Falling Inn Love,Nate Bargatze: The Tennessee Kid,The Far Green Country,Momenti di trascurabile felicità,Koridor bessmertiya
title,,,,,,,,,,,,,,,,,,,,,
Carmencita,1.000000,0.332964,0.205688,0.234693,0.100088,0.000000,0.000000,0.000000,0.738549,0.247975,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Pauvre Pierrot,0.332964,1.000000,0.082184,0.276978,0.087979,0.637577,0.257292,0.000000,0.270501,0.653927,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Edison Kinetoscopic Record of a Sneeze,0.205688,0.082184,1.000000,0.080456,0.049408,0.000000,0.216739,0.429669,0.101274,0.122413,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
La sortie de l'usine Lumière à Lyon,0.234693,0.276978,0.080456,1.000000,0.085053,0.299602,0.158686,0.000000,0.158888,0.332893,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
L'arrivée d'un train à La Ciotat,0.100088,0.087979,0.049408,0.085053,1.000000,0.000000,0.087009,0.000000,0.162623,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [50]:
imdb_titles = pd.read_csv('../Data/Large-Data/imdb_titles.csv')

In [51]:
imdb_titles.head()

     titleId                   title
0  tt0000001              Carmencita
1  tt0000002  Le clown et ses chiens
2  tt0000003          Pauvre Pierrot
3  tt0000004             Un bon bock
4  tt0000005        Blacksmith Scene

In [52]:
q = 'Toy Story'

for title in imdb_titles.loc[imdb_titles['title'].str.contains(q), 'title']:
    print(title)
    print(recommender[title].sort_values(ascending = False)[1:11])
    print()
    print()

Toy Story
title
Star Wars                                     0.172279
Toy Story 2                                   0.167211
Forrest Gump                                  0.164997
Back to the Future                            0.164495
Independence Day                              0.164410
Star Wars: Episode VI - Return of the Jedi    0.162312
Jurassic Park                                 0.159334
Aladdin                                       0.158498
The Lion King                                 0.156477
Monsters, Inc.                                0.156126
Name: Toy Story, dtype: float64


Toy Story 2
title
Toy Story                  0.167211
A Bug's Life               0.165002
Monsters, Inc.             0.156138
Shrek                      0.149242
Finding Nemo               0.144670
Ghostbusters               0.143362
X-Men                      0.142777
Back to the Future         0.141548
Who Framed Roger Rabbit    0.137205
Men in Black               0.135386
Name: Toy Story 2, dtype: float64


Toy Story
title
Star Wars                                     0.172279
Toy Story 2                                   0.167211
Forrest Gump                                  0.164997
Back to the Future                            0.164495
Independence Day                              0.164410
Star Wars: Episode VI - Return of the Jedi    0.162312
Jurassic Park                                 0.159334
Aladdin                                       0.158498
The Lion King                                 0.156477
Monsters, Inc.                                0.156126
Name: Toy Story, dtype: float64


The Story Behind 'Toy Story'

KeyError: "The Story Behind 'Toy Story'"