# Recommender System Modeling
In this notebook, we will work through multiple iterations of our movie recommender system model. First, we will create a simpler model using just the movie reviews from IMDb. This will give us a baseline model that we can potentially improve on by adding more detailed features.

In [12]:
# Imports
import pandas as pd
import numpy as np
from scipy.sparse import csr_matrix
from sklearn.metrics.pairwise import pairwise_distances, cosine_distances, cosine_similarity

## Simple Recommender System
This is a simple recommender system using cosine similarity that can be improved upon and replaced when all our data is properly formatted.

In [6]:
# Let's try this with only our MovieLens reviews first
ml_reviews = pd.read_csv('../Data/Large-Data/ml_reviews.csv')
ml_reviews

          user_id    imdb_id  scaled_rating                    title
0               1  tt0110912           10.0             Pulp Fiction
1               1  tt0111495            7.0    Trois couleurs: Rouge
2               1  tt0108394           10.0     Trois couleurs: Bleu
3               1  tt0114787           10.0              Underground
4               1  tt0045152            7.0      Singin' in the Rain
...           ...        ...            ...                      ...
24969860   162541  tt0382932            9.0              Ratatouille
24969861   162541  tt0389790            5.0                Bee Movie
24969862   162541  tt0952640            4.0  Alvin and the Chipmunks
24969863   162541  tt0468569            8.0          The Dark Knight
24969864   162541  tt1013753           10.0                     Milk

[24969865 rows x 4 columns]

In [4]:
# First let's create a pivot table with a small sample of movie reviews
sampled_reviews = ml_reviews.sample(frac=0.3, random_state=42)

In [7]:
sampled_reviews = ml_reviews[ml_reviews['user_id']<81000]
sampled_reviews

          user_id    imdb_id  scaled_rating                         title
0               1  tt0110912           10.0                  Pulp Fiction
1               1  tt0111495            7.0         Trois couleurs: Rouge
2               1  tt0108394           10.0          Trois couleurs: Bleu
3               1  tt0114787           10.0                   Underground
4               1  tt0045152            7.0           Singin' in the Rain
...           ...        ...            ...                           ...
12511161    80999  tt5657846            9.0                Daddy's Home 2
12511162    80999  tt5095030            6.0          Ant-Man and the Wasp
12511163    80999  tt6921996            9.0  Johnny English Strikes Again
12511164    80999  tt1727824           10.0             Bohemian Rhapsody
12511165    80999  tt6139732            8.0                       Aladdin

[12511166 rows x 4 columns]

In [8]:
print(f"Reviews: {len(sampled_reviews['imdb_id'])}")
print(f"Movies: {sampled_reviews['imdb_id'].nunique()}")
print(f"Users: {sampled_reviews['user_id'].nunique()}")

Reviews: 12511166
Movies: 53786
Users: 80999

In [23]:
sampled_reviews['title'].nunique()

13868

In [40]:
print(f"Reviews: {len(sampled_reviews['imdb_id'])}")
print(f"Movies: {sampled_reviews['imdb_id'].nunique()}")
print(f"Users: {sampled_reviews['user_id'].nunique()}")

Reviews: 7490960
Movies: 44165
Users: 162532

In [4]:
pivot = sampled_reviews.pivot_table(values='scaled_rating', index='title', columns='user_id')
pivot.head()

user_id,1,2,3,4,5,8,9,10,12,13,...,162528,162529,162532,162533,162534,162535,162536,162538,162539,162540
title,,,,,,,,,,,,,,,,,,,,,
#Followme,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
#Nerealnaya lyubov,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
$5 a Day,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
$9.99,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
$ellebrity,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [25]:
pivot.loc['#Followme']

user_id
1        NaN
2        NaN
3        NaN
4        NaN
5        NaN
          ..
162535   NaN
162536   NaN
162538   NaN
162539   NaN
162540   NaN
Name: #Followme, Length: 89946, dtype: float64

In [ ]:
#pivot = ml_reviews.pivot_table(values = 'scaled_rating', index = 'title', columns = 'user_id')

#pivot.head()

In [5]:
pivot.shape

(13868, 89946)

In [6]:
pivot_sparse = sparse.csr_matrix(pivot.fillna(0))

In [7]:
distances = pairwise_distances(pivot_sparse, metric = 'cosine')

In [9]:
similarities = 1.0 - distances

In [10]:
recommender = pd.DataFrame(similarities, index = pivot.index, columns=pivot.index)

recommender.head()

title,#Followme,#Nerealnaya lyubov,$5 a Day,$9.99,$ellebrity,'71,'A' gai wak 2,'Breaker' Morant,'R Xmas,'Round Midnight,...,État de siège,Évolution,Être et avoir,"Ó Paí, Ó",Ôdishon,Ôkami kodomo no Ame to Yuki,Ônibus 174,Ôritsu uchûgun Oneamisu no tsubasa,Üvegtigris,Üç Maymun
title,,,,,,,,,,,,,,,,,,,,,
#Followme,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
#Nerealnaya lyubov,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
$5 a Day,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
$9.99,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
$ellebrity,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [27]:
recommender.loc['#Followme']

title
#Followme                             1.0
#Nerealnaya lyubov                    0.0
$5 a Day                              0.0
$9.99                                 0.0
$ellebrity                            0.0
                                     ...
Ôkami kodomo no Ame to Yuki           0.0
Ônibus 174                            0.0
Ôritsu uchûgun Oneamisu no tsubasa    0.0
Üvegtigris                            0.0
Üç Maymun                             0.0
Name: #Followme, Length: 13868, dtype: float64

In [15]:
imdb_titles = pd.read_csv('../Data/Large-Data/imdb_titles.csv')

In [16]:
imdb_titles.head()

     titleId                   title
0  tt0000001              Carmencita
1  tt0000002  Le clown et ses chiens
2  tt0000003          Pauvre Pierrot
3  tt0000004             Un bon bock
4  tt0000005        Blacksmith Scene

In [17]:
q = 'Toy Story'

for title in imdb_titles.loc[imdb_titles['title'].str.contains(q), 'title']:
    print(title)
    print(recommender[title].sort_values(ascending = False)[1:11])
    print()
    print()

Toy Story
title
Flicka                                                              0.050089
They Wait                                                           0.050089
DOA: Dead or Alive                                                  0.048198
Fancy Pants                                                         0.047519
Godspell: A Musical Based on the Gospel According to St. Matthew    0.045080
Courageous                                                          0.045080
Talk Radio                                                          0.044801
Ball of Fire                                                        0.043786
Punchline                                                           0.042475
Scooby-Doo and the Loch Ness Monster                                0.040071
Name: Toy Story, dtype: float64


Toy Story 2
title
Nightmare at Noon                                                0.077706
Her Alibi                                                        0.077706
Gertrud                                                          0.077706
Zorro                                                            0.077706
Triumph's Election Watch 2016                                    0.077706
Ron White: If You Quit Listening, I'll Shut Up                   0.077706
Marvel One-Shot: The Consultant                                  0.077706
Beware the Moon: Remembering 'An American Werewolf in London'    0.077706
Underclassman                                                    0.077706
Follow That Dream                                                0.077706
Name: Toy Story 2, dtype: float64


Toy Story
title
Flicka                                                              0.050089
They Wait                                                           0.050089
DOA: Dead or Alive                                                  0.048198
Fancy Pants                                                         0.047519
Godspell: A Musical Based on the Gospel According to St. Matthew    0.045080
Courageous                                                          0.045080
Talk Radio                                                          0.044801
Ball of Fire                                                        0.043786
Punchline                                                           0.042475
Scooby-Doo and the Loch Ness Monster                                0.040071
Name: Toy Story, dtype: float64


The Story Behind 'Toy Story'

KeyError: "The Story Behind 'Toy Story'"

## Scale to include more reviews

In [30]:
over_100 = pd.read_csv('../Data/Large-Data/over_100_reviews.csv')
over_100

/var/folders/jc/vvd13n2d3m33dzsrsg9ydhb00000gn/T/ipykernel_2114/3744431260.py:1: DtypeWarning: Columns (0) have mixed types. Specify dtype option on import or set low_memory=False.
  over_100 = pd.read_csv('../Data/Large-Data/over_100_reviews.csv')

            user_id    imdb_id  scaled_rating                      title
0                 1  tt0110912           10.0               Pulp Fiction
1                 1  tt0111495            7.0      Trois couleurs: Rouge
2                 1  tt0108394           10.0       Trois couleurs: Bleu
3                 1  tt0114787           10.0                Underground
4                 1  tt0045152            7.0        Singin' in the Rain
...             ...        ...            ...                        ...
27522147  ur3174947  tt0096895            8.0                     Batman
27522148  ur0581842  tt0107977            6.0  Robin Hood: Men in Tights
27522149  ur3174947  tt0103776            8.0             Batman Returns
27522150  ur4581944  tt0102614            8.0            Out for Justice
27522151  ur1162550  tt0325596            7.0               The I Inside

[27522152 rows x 4 columns]

In [34]:
print(f"Reviews: {len(over_100['imdb_id'])}")
print(f"Movies: {over_100['imdb_id'].nunique()}")
print(f"Users: {over_100['user_id'].nunique()}")

Reviews: 27522152
Movies: 14339
Users: 1229633

In [35]:
pivot_100 = over_100.pivot_table(values='scaled_rating', index='title', columns='user_id')
pivot_100.head()

/var/folders/jc/vvd13n2d3m33dzsrsg9ydhb00000gn/T/ipykernel_2114/3778825614.py:1: PerformanceWarning: The following operation may generate 16858268430 cells in the resulting pandas object.
  pivot_100 = over_100.pivot_table(values='scaled_rating', index='title', columns='user_id')

:

In [ ]:
pivot_100 = ml_reviews.pivot_table(values = 'scaled_rating', index = 'title', columns = 'user_id')

pivot_100.head()

In [32]:
pivot_100.shape

In [ ]:
pivot_100_sparse = sparse.csr_matrix(pivot_100.fillna(0))

In [ ]:
distances_100 = pairwise_distances(pivot_100_sparse, metric = 'cosine')

In [ ]:
similarities_100 = 1.0 - distances_100

In [33]:
recommender_100 = pd.DataFrame(similarities_100, index = pivot_100.index, columns=pivot_100.index)

recommender_100.head()

In [ ]:
imdb_titles.head()

     titleId                   title
0  tt0000001              Carmencita
1  tt0000002  Le clown et ses chiens
2  tt0000003          Pauvre Pierrot
3  tt0000004             Un bon bock
4  tt0000005        Blacksmith Scene

In [ ]:
q = 'Toy Story'

for title in imdb_titles.loc[imdb_titles['title'].str.contains(q), 'title']:
    print(title)
    print(recommender_100[title].sort_values(ascending = False)[1:11])
    print()
    print()

Toy Story
title
Flicka                                                              0.050089
They Wait                                                           0.050089
DOA: Dead or Alive                                                  0.048198
Fancy Pants                                                         0.047519
Godspell: A Musical Based on the Gospel According to St. Matthew    0.045080
Courageous                                                          0.045080
Talk Radio                                                          0.044801
Ball of Fire                                                        0.043786
Punchline                                                           0.042475
Scooby-Doo and the Loch Ness Monster                                0.040071
Name: Toy Story, dtype: float64


Toy Story 2
title
Nightmare at Noon                                                0.077706
Her Alibi                                                        0.077706
Gertrud                                                          0.077706
Zorro                                                            0.077706
Triumph's Election Watch 2016                                    0.077706
Ron White: If You Quit Listening, I'll Shut Up                   0.077706
Marvel One-Shot: The Consultant                                  0.077706
Beware the Moon: Remembering 'An American Werewolf in London'    0.077706
Underclassman                                                    0.077706
Follow That Dream                                                0.077706
Name: Toy Story 2, dtype: float64


Toy Story
title
Flicka                                                              0.050089
They Wait                                                           0.050089
DOA: Dead or Alive                                                  0.048198
Fancy Pants                                                         0.047519
Godspell: A Musical Based on the Gospel According to St. Matthew    0.045080
Courageous                                                          0.045080
Talk Radio                                                          0.044801
Ball of Fire                                                        0.043786
Punchline                                                           0.042475
Scooby-Doo and the Loch Ness Monster                                0.040071
Name: Toy Story, dtype: float64


The Story Behind 'Toy Story'

KeyError: "The Story Behind 'Toy Story'"

# skipping pivot table creation

In [9]:
def create_matrix(df):
     
    N = len(df['user_id'].unique())
    M = len(df['imdb_id'].unique())
     
    # Map Ids to indices
    user_mapper = dict(zip(np.unique(df["user_id"]), list(range(N))))
    movie_mapper = dict(zip(np.unique(df["imdb_id"]), list(range(M))))
     
    # Map indices to IDs
    user_inv_mapper = dict(zip(list(range(N)), np.unique(df["user_id"])))
    movie_inv_mapper = dict(zip(list(range(M)), np.unique(df["imdb_id"])))
     
    user_index = [user_mapper[i] for i in df['user_id']]
    movie_index = [movie_mapper[i] for i in df['imdb_id']]
 
    X = csr_matrix((df["scaled_rating"], (movie_index, user_index)), shape=(M, N))
     
    return X, user_mapper, movie_mapper, user_inv_mapper, movie_inv_mapper, user_index, movie_index

In [10]:
ordered_titles = sampled_reviews.drop_duplicates(subset = 'imdb_id').sort_values(by='imdb_id', ascending=True)['title']

In [13]:
X, user_mapper, movie_mapper, user_inv_mapper, movie_inv_mapper, user_index, movie_index = create_matrix(sampled_reviews)

In [14]:
len(movie_mapper)

53786

In [15]:
movie_mapper

{'tt0000001': 0,
 'tt0000003': 1,
 'tt0000007': 2,
 'tt0000008': 3,
 'tt0000010': 4,
 'tt0000012': 5,
 'tt0000013': 6,
 'tt0000014': 7,
 'tt0000016': 8,
 'tt0000022': 9,
 'tt0000023': 10,
 'tt0000027': 11,
 'tt0000028': 12,
 'tt0000029': 13,
 'tt0000033': 14,
 'tt0000041': 15,
 'tt0000070': 16,
 'tt0000075': 17,
 'tt0000091': 18,
 'tt0000131': 19,
 'tt0000132': 20,
 'tt0000138': 21,
 'tt0000192': 22,
 'tt0000211': 23,
 'tt0000230': 24,
 'tt0000242': 25,
 'tt0000246': 26,
 'tt0000274': 27,
 'tt0000299': 28,
 'tt0000300': 29,
 'tt0000304': 30,
 'tt0000313': 31,
 'tt0000355': 32,
 'tt0000358': 33,
 'tt0000359': 34,
 'tt0000364': 35,
 'tt0000399': 36,
 'tt0000410': 37,
 'tt0000417': 38,
 'tt0000420': 39,
 'tt0000423': 40,
 'tt0000437': 41,
 'tt0000439': 42,
 'tt0000447': 43,
 'tt0000455': 44,
 'tt0000465': 45,
 'tt0000469': 46,
 'tt0000488': 47,
 'tt0000498': 48,
 'tt0000499': 49,
 'tt0000516': 50,
 'tt0000524': 51,
 'tt0000534': 52,
 'tt0000546': 53,
 'tt0000553': 54,
 'tt0000554': 55,
 'tt0000565': 56,
 'tt0000567': 57,
 'tt0000574': 58,
 'tt0000614': 59,
 'tt0000628': 60,
 'tt0000682': 61,
 'tt0000832': 62,
 'tt0000833': 63,
 'tt0000840': 64,
 'tt0000852': 65,
 'tt0000854': 66,
 'tt0000938': 67,
 'tt0000942': 68,
 'tt0001032': 69,
 'tt0001062': 70,
 'tt0001091': 71,
 'tt0001105': 72,
 'tt0001223': 73,
 'tt0001265': 74,
 'tt0001284': 75,
 'tt0001431': 76,
 'tt0001439': 77,
 'tt0001463': 78,
 'tt0001499': 79,
 'tt0001527': 80,
 'tt0001593': 81,
 'tt0001594': 82,
 'tt0001660': 83,
 'tt0001737': 84,
 'tt0001740': 85,
 'tt0001789': 86,
 'tt0002082': 87,
 'tt0002101': 88,
 'tt0002113': 89,
 'tt0002130': 90,
 'tt0002197': 91,
 'tt0002233': 92,
 'tt0002260': 93,
 'tt0002350': 94,
 'tt0002381': 95,
 'tt0002391': 96,
 'tt0002415': 97,
 'tt0002461': 98,
 'tt0002544': 99,
 'tt0002646': 100,
 'tt0002795': 101,
 'tt0002844': 102,
 'tt0002985': 103,
 'tt0003014': 104,
 'tt0003016': 105,
 'tt0003037': 106,
 'tt0003165': 107,
 'tt0003419': 108,
 'tt0003471': 109,
 'tt0003489': 110,
 'tt0003643': 111,
 'tt0003662': 112,
 'tt0003733': 113,
 'tt0003740': 114,
 'tt0003758': 115,
 'tt0003772': 116,
 'tt0003805': 117,
 'tt0003863': 118,
 'tt0003923': 119,
 'tt0003930': 120,
 'tt0003934': 121,
 'tt0003952': 122,
 'tt0003973': 123,
 'tt0004008': 124,
 'tt0004011': 125,
 'tt0004066': 126,
 'tt0004091': 127,
 'tt0004099': 128,
 'tt0004100': 129,
 'tt0004101': 130,
 'tt0004102': 131,
 'tt0004134': 132,
 'tt0004150': 133,
 'tt0004181': 134,
 'tt0004189': 135,
 'tt0004194': 136,
 'tt0004210': 137,
 'tt0004277': 138,
 'tt0004282': 139,
 'tt0004284': 140,
 'tt0004286': 141,
 'tt0004288': 142,
 'tt0004390': 143,
 'tt0004395': 144,
 'tt0004413': 145,
 'tt0004457': 146,
 'tt0004465': 147,
 'tt0004546': 148,
 'tt0004555': 149,
 'tt0004635': 150,
 'tt0004693': 151,
 'tt0004707': 152,
 'tt0004712': 153,
 'tt0004873': 154,
 'tt0004936': 155,
 'tt0004972': 156,
 'tt0005044': 157,
 'tt0005059': 158,
 'tt0005060': 159,
 'tt0005074': 160,
 'tt0005078': 161,
 'tt0005084': 162,
 'tt0005149': 163,
 'tt0005198': 164,
 'tt0005339': 165,
 'tt0005529': 166,
 'tt0005542': 167,
 'tt0005557': 168,
 'tt0005571': 169,
 'tt0005622': 170,
 'tt0005810': 171,
 'tt0005812': 172,
 'tt0005960': 173,
 'tt0006032': 174,
 'tt0006177': 175,
 'tt0006206': 176,
 'tt0006333': 177,
 'tt0006405': 178,
 'tt0006414': 179,
 'tt0006511': 180,
 'tt0006517': 181,
 'tt0006548': 182,
 'tt0006589': 183,
 'tt0006668': 184,
 'tt0006684': 185,
 'tt0006688': 186,
 'tt0006689': 187,
 'tt0006731': 188,
 'tt0006745': 189,
 'tt0006753': 190,
 'tt0006780': 191,
 'tt0006809': 192,
 'tt0006826': 193,
 'tt0006864': 194,
 'tt0006886': 195,
 'tt0006895': 196,
 'tt0007003': 197,
 'tt0007047': 198,
 'tt0007108': 199,
 'tt0007145': 200,
 'tt0007162': 201,
 'tt0007183': 202,
 'tt0007194': 203,
 'tt0007264': 204,
 'tt0007338': 205,
 'tt0007340': 206,
 'tt0007361': 207,
 'tt0007476': 208,
 'tt0007507': 209,
 'tt0007558': 210,
 'tt0007610': 211,
 'tt0007613': 212,
 'tt0007755': 213,
 'tt0007819': 214,
 'tt0007832': 215,
 'tt0007880': 216,
 'tt0008112': 217,
 'tt0008133': 218,
 'tt0008259': 219,
 'tt0008279': 220,
 'tt0008309': 221,
 'tt0008329': 222,
 'tt0008395': 223,
 'tt0008442': 224,
 'tt0008443': 225,
 'tt0008498': 226,
 'tt0008499': 227,
 'tt0008523': 228,
 'tt0008536': 229,
 'tt0008550': 230,
 'tt0008634': 231,
 'tt0008663': 232,
 'tt0008710': 233,
 'tt0008775': 234,
 'tt0008827': 235,
 'tt0008874': 236,
 'tt0008879': 237,
 'tt0008891': 238,
 'tt0008930': 239,
 'tt0008950': 240,
 'tt0008975': 241,
 'tt0009018': 242,
 'tt0009026': 243,
 'tt0009062': 244,
 'tt0009123': 245,
 'tt0009369': 246,
 'tt0009440': 247,
 'tt0009611': 248,
 'tt0009652': 249,
 'tt0009796': 250,
 'tt0009878': 251,
 'tt0009893': 252,
 'tt0009899': 253,
 'tt0009915': 254,
 'tt0009932': 255,
 'tt0009937': 256,
 'tt0009968': 257,
 'tt0009976': 258,
 'tt0010040': 259,
 'tt0010057': 260,
 'tt0010060': 261,
 'tt0010071': 262,
 'tt0010112': 263,
 'tt0010146': 264,
 'tt0010155': 265,
 'tt0010195': 266,
 'tt0010208': 267,
 'tt0010247': 268,
 'tt0010267': 269,
 'tt0010281': 270,
 'tt0010307': 271,
 'tt0010323': 272,
 'tt0010418': 273,
 'tt0010598': 274,
 'tt0010600': 275,
 'tt0010726': 276,
 'tt0010747': 277,
 'tt0010806': 278,
 'tt0010821': 279,
 'tt0010879': 280,
 'tt0010962': 281,
 'tt0011000': 282,
 'tt0011071': 283,
 'tt0011130': 284,
 'tt0011144': 285,
 'tt0011157': 286,
 'tt0011193': 287,
 'tt0011237': 288,
 'tt0011293': 289,
 'tt0011294': 290,
 'tt0011358': 291,
 'tt0011362': 292,
 'tt0011370': 293,
 'tt0011387': 294,
 'tt0011401': 295,
 'tt0011439': 296,
 'tt0011508': 297,
 'tt0011521': 298,
 'tt0011541': 299,
 'tt0011548': 300,
 'tt0011565': 301,
 'tt0011607': 302,
 'tt0011652': 303,
 'tt0011656': 304,
 'tt0011723': 305,
 'tt0011742': 306,
 'tt0011833': 307,
 'tt0011837': 308,
 'tt0011841': 309,
 'tt0011865': 310,
 'tt0011870': 311,
 'tt0011904': 312,
 'tt0011908': 313,
 'tt0011948': 314,
 'tt0011960': 315,
 'tt0011979': 316,
 'tt0011984': 317,
 'tt0011999': 318,
 'tt0012027': 319,
 'tt0012068': 320,
 'tt0012123': 321,
 'tt0012125': 322,
 'tt0012136': 323,
 'tt0012190': 324,
 'tt0012224': 325,
 'tt0012253': 326,
 'tt0012255': 327,
 'tt0012278': 328,
 'tt0012281': 329,
 'tt0012304': 330,
 'tt0012320': 331,
 'tt0012349': 332,
 'tt0012364': 333,
 'tt0012397': 334,
 'tt0012465': 335,
 'tt0012494': 336,
 'tt0012499': 337,
 'tt0012512': 338,
 'tt0012532': 339,
 'tt0012543': 340,
 'tt0012570': 341,
 'tt0012645': 342,
 'tt0012675': 343,
 'tt0012752': 344,
 'tt0012763': 345,
 'tt0012769': 346,
 'tt0012806': 347,
 'tt0012881': 348,
 'tt0012938': 349,
 'tt0012945': 350,
 'tt0012952': 351,
 'tt0013025': 352,
 'tt0013055': 353,
 'tt0013059': 354,
 'tt0013075': 355,
 'tt0013086': 356,
 'tt0013099': 357,
 'tt0013134': 358,
 'tt0013140': 359,
 'tt0013149': 360,
 'tt0013158': 361,
 'tt0013201': 362,
 'tt0013257': 363,
 'tt0013323': 364,
 'tt0013367': 365,
 'tt0013372': 366,
 'tt0013386': 367,
 'tt0013422': 368,
 'tt0013427': 369,
 'tt0013442': 370,
 'tt0013472': 371,
 'tt0013496': 372,
 'tt0013501': 373,
 'tt0013556': 374,
 'tt0013571': 375,
 'tt0013579': 376,
 'tt0013597': 377,
 'tt0013626': 378,
 'tt0013662': 379,
 'tt0013674': 380,
 'tt0013688': 381,
 'tt0013690': 382,
 'tt0013741': 383,
 'tt0013750': 384,
 'tt0013802': 385,
 'tt0013823': 386,
 'tt0013827': 387,
 'tt0013858': 388,
 'tt0013933': 389,
 'tt0014029': 390,
 'tt0014109': 391,
 'tt0014142': 392,
 'tt0014218': 393,
 'tt0014341': 394,
 'tt0014358': 395,
 'tt0014406': 396,
 'tt0014417': 397,
 'tt0014429': 398,
 'tt0014440': 399,
 'tt0014463': 400,
 'tt0014497': 401,
 'tt0014524': 402,
 'tt0014532': 403,
 'tt0014538': 404,
 'tt0014586': 405,
 'tt0014611': 406,
 'tt0014624': 407,
 'tt0014636': 408,
 'tt0014646': 409,
 'tt0014672': 410,
 'tt0014694': 411,
 'tt0014770': 412,
 'tt0014872': 413,
 'tt0014898': 414,
 'tt0014945': 415,
 'tt0014972': 416,
 'tt0015002': 417,
 'tt0015014': 418,
 'tt0015016': 419,
 'tt0015036': 420,
 'tt0015039': 421,
 'tt0015064': 422,
 'tt0015119': 423,
 'tt0015136': 424,
 'tt0015152': 425,
 'tt0015163': 426,
 'tt0015167': 427,
 'tt0015174': 428,
 'tt0015175': 429,
 'tt0015202': 430,
 'tt0015213': 431,
 'tt0015224': 432,
 'tt0015268': 433,
 'tt0015310': 434,
 'tt0015324': 435,
 'tt0015361': 436,
 'tt0015384': 437,
 'tt0015400': 438,
 'tt0015493': 439,
 'tt0015498': 440,
 'tt0015532': 441,
 'tt0015624': 442,
 'tt0015634': 443,
 'tt0015648': 444,
 'tt0015673': 445,
 'tt0015684': 446,
 'tt0015687': 447,
 'tt0015693': 448,
 'tt0015758': 449,
 'tt0015772': 450,
 'tt0015801': 451,
 'tt0015841': 452,
 'tt0015842': 453,
 'tt0015861': 454,
 'tt0015863': 455,
 'tt0015864': 456,
 'tt0015873': 457,
 'tt0015881': 458,
 'tt0015921': 459,
 'tt0015977': 460,
 'tt0016004': 461,
 'tt0016013': 462,
 'tt0016022': 463,
 'tt0016028': 464,
 'tt0016029': 465,
 'tt0016039': 466,
 'tt0016104': 467,
 'tt0016107': 468,
 'tt0016123': 469,
 'tt0016201': 470,
 'tt0016220': 471,
 'tt0016226': 472,
 'tt0016230': 473,
 'tt0016232': 474,
 'tt0016276': 475,
 'tt0016310': 476,
 'tt0016332': 477,
 'tt0016392': 478,
 'tt0016394': 479,
 'tt0016473': 480,
 'tt0016480': 481,
 'tt0016481': 482,
 'tt0016493': 483,
 'tt0016544': 484,
 'tt0016559': 485,
 'tt0016627': 486,
 'tt0016629': 487,
 'tt0016630': 488,
 'tt0016634': 489,
 'tt0016640': 490,
 'tt0016641': 491,
 'tt0016654': 492,
 'tt0016655': 493,
 'tt0016669': 494,
 'tt0016672': 495,
 'tt0016690': 496,
 'tt0016804': 497,
 'tt0016822': 498,
 'tt0016832': 499,
 'tt0016847': 500,
 'tt0016884': 501,
 'tt0016895': 502,
 'tt0016914': 503,
 'tt0016938': 504,
 'tt0016939': 505,
 'tt0016953': 506,
 'tt0017004': 507,
 'tt0017010': 508,
 'tt0017048': 509,
 'tt0017075': 510,
 'tt0017103': 511,
 'tt0017104': 512,
 'tt0017119': 513,
 'tt0017120': 514,
 'tt0017128': 515,
 'tt0017136': 516,
 'tt0017162': 517,
 'tt0017196': 518,
 'tt0017226': 519,
 'tt0017271': 520,
 'tt0017350': 521,
 'tt0017372': 522,
 'tt0017374': 523,
 'tt0017376': 524,
 'tt0017416': 525,
 'tt0017418': 526,
 'tt0017423': 527,
 'tt0017437': 528,
 'tt0017448': 529,
 'tt0017449': 530,
 'tt0017463': 531,
 'tt0017480': 532,
 'tt0017483': 533,
 'tt0017534': 534,
 'tt0017540': 535,
 'tt0017567': 536,
 'tt0017584': 537,
 'tt0017621': 538,
 'tt0017664': 539,
 'tt0017668': 540,
 'tt0017739': 541,
 'tt0017743': 542,
 'tt0017744': 543,
 'tt0017748': 544,
 'tt0017750': 545,
 'tt0017751': 546,
 'tt0017765': 547,
 'tt0017775': 548,
 'tt0017809': 549,
 'tt0017813': 550,
 'tt0017825': 551,
 'tt0017843': 552,
 'tt0017918': 553,
 'tt0017925': 554,
 'tt0017949': 555,
 'tt0017961': 556,
 'tt0017998': 557,
 'tt0018033': 558,
 'tt0018037': 559,
 'tt0018051': 560,
 'tt0018054': 561,
 'tt0018066': 562,
 'tt0018087': 563,
 'tt0018097': 564,
 'tt0018102': 565,
 'tt0018107': 566,
 'tt0018166': 567,
 'tt0018179': 568,
 'tt0018183': 569,
 'tt0018192': 570,
 'tt0018217': 571,
 'tt0018218': 572,
 'tt0018246': 573,
 'tt0018253': 574,
 'tt0018294': 575,
 'tt0018311': 576,
 'tt0018328': 577,
 'tt0018379': 578,
 'tt0018392': 579,
 'tt0018397': 580,
 'tt0018440': 581,
 'tt0018451': 582,
 'tt0018455': 583,
 'tt0018471': 584,
 'tt0018505': 585,
 'tt0018515': 586,
 'tt0018523': 587,
 'tt0018524': 588,
 'tt0018526': 589,
 'tt0018528': 590,
 'tt0018530': 591,
 'tt0018566': 592,
 'tt0018578': 593,
 'tt0018618': 594,
 'tt0018684': 595,
 'tt0018737': 596,
 'tt0018742': 597,
 'tt0018756': 598,
 'tt0018770': 599,
 'tt0018773': 600,
 'tt0018795': 601,
 'tt0018806': 602,
 'tt0018826': 603,
 'tt0018839': 604,
 'tt0018873': 605,
 'tt0018876': 606,
 'tt0018908': 607,
 'tt0018909': 608,
 'tt0018935': 609,
 'tt0018937': 610,
 'tt0018972': 611,
 'tt0019067': 612,
 'tt0019071': 613,
 'tt0019074': 614,
 'tt0019079': 615,
 'tt0019096': 616,
 'tt0019109': 617,
 'tt0019127': 618,
 'tt0019130': 619,
 'tt0019186': 620,
 'tt0019195': 621,
 'tt0019225': 622,
 'tt0019237': 623,
 'tt0019254': 624,
 'tt0019258': 625,
 'tt0019267': 626,
 'tt0019278': 627,
 'tt0019286': 628,
 'tt0019304': 629,
 'tt0019328': 630,
 'tt0019344': 631,
 'tt0019379': 632,
 'tt0019400': 633,
 'tt0019403': 634,
 'tt0019412': 635,
 'tt0019415': 636,
 'tt0019421': 637,
 'tt0019422': 638,
 'tt0019429': 639,
 'tt0019451': 640,
 'tt0019486': 641,
 'tt0019489': 642,
 'tt0019504': 643,
 'tt0019509': 644,
 'tt0019532': 645,
 'tt0019557': 646,
 'tt0019558': 647,
 'tt0019563': 648,
 'tt0019571': 649,
 'tt0019574': 650,
 'tt0019585': 651,
 'tt0019591': 652,
 'tt0019607': 653,
 'tt0019609': 654,
 'tt0019611': 655,
 'tt0019629': 656,
 'tt0019630': 657,
 'tt0019644': 658,
 'tt0019646': 659,
 'tt0019649': 660,
 'tt0019655': 661,
 'tt0019686': 662,
 'tt0019699': 663,
 'tt0019702': 664,
 'tt0019715': 665,
 'tt0019725': 666,
 'tt0019729': 667,
 'tt0019735': 668,
 'tt0019760': 669,
 'tt0019777': 670,
 'tt0019788': 671,
 'tt0019802': 672,
 'tt0019823': 673,
 'tt0019824': 674,
 'tt0019838': 675,
 'tt0019843': 676,
 'tt0019850': 677,
 'tt0019886': 678,
 'tt0019901': 679,
 'tt0019935': 680,
 'tt0019946': 681,
 'tt0019959': 682,
 'tt0019968': 683,
 'tt0019975': 684,
 'tt0019992': 685,
 'tt0019993': 686,
 'tt0020007': 687,
 'tt0020018': 688,
 'tt0020025': 689,
 'tt0020030': 690,
 'tt0020062': 691,
 'tt0020078': 692,
 'tt0020080': 693,
 'tt0020092': 694,
 'tt0020094': 695,
 'tt0020103': 696,
 'tt0020112': 697,
 'tt0020114': 698,
 'tt0020122': 699,
 'tt0020126': 700,
 'tt0020142': 701,
 'tt0020163': 702,
 'tt0020164': 703,
 'tt0020166': 704,
 'tt0020177': 705,
 'tt0020198': 706,
 'tt0020210': 707,
 'tt0020223': 708,
 'tt0020230': 709,
 'tt0020232': 710,
 'tt0020247': 711,
 'tt0020253': 712,
 'tt0020269': 713,
 'tt0020286': 714,
 'tt0020298': 715,
 'tt0020305': 716,
 'tt0020321': 717,
 'tt0020389': 718,
 'tt0020414': 719,
 'tt0020439': 720,
 'tt0020442': 721,
 'tt0020445': 722,
 'tt0020446': 723,
 'tt0020451': 724,
 'tt0020466': 725,
 'tt0020475': 726,
 'tt0020479': 727,
 'tt0020484': 728,
 'tt0020488': 729,
 'tt0020499': 730,
 'tt0020514': 731,
 'tt0020523': 732,
 'tt0020530': 733,
 'tt0020556': 734,
 'tt0020563': 735,
 'tt0020570': 736,
 'tt0020572': 737,
 'tt0020581': 738,
 'tt0020585': 739,
 'tt0020589': 740,
 'tt0020590': 741,
 'tt0020594': 742,
 'tt0020620': 743,
 'tt0020629': 744,
 'tt0020640': 745,
 'tt0020641': 746,
 'tt0020643': 747,
 'tt0020647': 748,
 'tt0020656': 749,
 'tt0020658': 750,
 'tt0020667': 751,
 'tt0020668': 752,
 'tt0020686': 753,
 'tt0020691': 754,
 'tt0020693': 755,
 'tt0020695': 756,
 'tt0020697': 757,
 'tt0020698': 758,
 'tt0020701': 759,
 'tt0020702': 760,
 'tt0020708': 761,
 'tt0020713': 762,
 'tt0020735': 763,
 'tt0020768': 764,
 'tt0020785': 765,
 'tt0020793': 766,
 'tt0020814': 767,
 'tt0020815': 768,
 'tt0020821': 769,
 'tt0020827': 770,
 'tt0020836': 771,
 'tt0020838': 772,
 'tt0020842': 773,
 'tt0020852': 774,
 'tt0020876': 775,
 'tt0020902': 776,
 'tt0020906': 777,
 'tt0020919': 778,
 'tt0020945': 779,
 'tt0020960': 780,
 'tt0020980': 781,
 'tt0020987': 782,
 'tt0021004': 783,
 'tt0021015': 784,
 'tt0021016': 785,
 'tt0021025': 786,
 'tt0021027': 787,
 'tt0021040': 788,
 'tt0021042': 789,
 'tt0021054': 790,
 'tt0021074': 791,
 'tt0021079': 792,
 'tt0021087': 793,
 'tt0021092': 794,
 'tt0021106': 795,
 'tt0021110': 796,
 'tt0021140': 797,
 'tt0021146': 798,
 'tt0021148': 799,
 'tt0021149': 800,
 'tt0021151': 801,
 'tt0021153': 802,
 'tt0021156': 803,
 'tt0021165': 804,
 'tt0021166': 805,
 'tt0021181': 806,
 'tt0021197': 807,
 'tt0021223': 808,
 'tt0021225': 809,
 'tt0021228': 810,
 'tt0021262': 811,
 'tt0021273': 812,
 'tt0021281': 813,
 'tt0021282': 814,
 'tt0021283': 815,
 'tt0021287': 816,
 'tt0021294': 817,
 'tt0021304': 818,
 'tt0021309': 819,
 'tt0021310': 820,
 'tt0021375': 821,
 'tt0021377': 822,
 'tt0021394': 823,
 'tt0021406': 824,
 'tt0021408': 825,
 'tt0021409': 826,
 'tt0021434': 827,
 'tt0021472': 828,
 'tt0021493': 829,
 'tt0021505': 830,
 'tt0021508': 831,
 'tt0021533': 832,
 'tt0021542': 833,
 'tt0021549': 834,
 'tt0021550': 835,
 'tt0021556': 836,
 'tt0021571': 837,
 'tt0021576': 838,
 'tt0021577': 839,
 'tt0021607': 840,
 'tt0021622': 841,
 'tt0021632': 842,
 'tt0021635': 843,
 'tt0021647': 844,
 'tt0021649': 845,
 'tt0021664': 846,
 'tt0021665': 847,
 'tt0021668': 848,
 'tt0021671': 849,
 'tt0021673': 850,
 'tt0021686': 851,
 'tt0021690': 852,
 'tt0021697': 853,
 'tt0021703': 854,
 'tt0021720': 855,
 'tt0021730': 856,
 'tt0021733': 857,
 'tt0021739': 858,
 'tt0021742': 859,
 'tt0021746': 860,
 'tt0021748': 861,
 'tt0021749': 862,
 'tt0021750': 863,
 'tt0021752': 864,
 'tt0021755': 865,
 'tt0021756': 866,
 'tt0021761': 867,
 'tt0021763': 868,
 'tt0021770': 869,
 'tt0021772': 870,
 'tt0021778': 871,
 'tt0021780': 872,
 'tt0021785': 873,
 'tt0021799': 874,
 'tt0021800': 875,
 'tt0021810': 876,
 'tt0021814': 877,
 'tt0021815': 878,
 'tt0021818': 879,
 'tt0021825': 880,
 'tt0021831': 881,
 'tt0021836': 882,
 'tt0021864': 883,
 'tt0021873': 884,
 'tt0021883': 885,
 'tt0021884': 886,
 'tt0021885': 887,
 'tt0021890': 888,
 'tt0021910': 889,
 'tt0021931': 890,
 'tt0021933': 891,
 'tt0021964': 892,
 'tt0021969': 893,
 'tt0021992': 894,
 'tt0022002': 895,
 'tt0022017': 896,
 'tt0022021': 897,
 'tt0022046': 898,
 'tt0022048': 899,
 'tt0022054': 900,
 'tt0022058': 901,
 'tt0022074': 902,
 'tt0022080': 903,
 'tt0022086': 904,
 'tt0022100': 905,
 'tt0022103': 906,
 'tt0022111': 907,
 'tt0022117': 908,
 'tt0022119': 909,
 'tt0022125': 910,
 'tt0022145': 911,
 'tt0022147': 912,
 'tt0022149': 913,
 'tt0022150': 914,
 'tt0022153': 915,
 'tt0022158': 916,
 'tt0022164': 917,
 'tt0022183': 918,
 'tt0022191': 919,
 'tt0022208': 920,
 'tt0022236': 921,
 'tt0022243': 922,
 'tt0022251': 923,
 'tt0022254': 924,
 'tt0022268': 925,
 'tt0022276': 926,
 'tt0022279': 927,
 'tt0022286': 928,
 'tt0022289': 929,
 'tt0022326': 930,
 'tt0022335': 931,
 'tt0022336': 932,
 'tt0022353': 933,
 'tt0022382': 934,
 'tt0022386': 935,
 'tt0022395': 936,
 'tt0022397': 937,
 'tt0022403': 938,
 'tt0022418': 939,
 'tt0022420': 940,
 'tt0022425': 941,
 'tt0022430': 942,
 'tt0022435': 943,
 'tt0022436': 944,
 'tt0022440': 945,
 'tt0022453': 946,
 'tt0022454': 947,
 'tt0022458': 948,
 'tt0022462': 949,
 'tt0022469': 950,
 'tt0022471': 951,
 'tt0022485': 952,
 'tt0022495': 953,
 'tt0022500': 954,
 'tt0022506': 955,
 'tt0022515': 956,
 'tt0022517': 957,
 'tt0022535': 958,
 'tt0022537': 959,
 'tt0022550': 960,
 'tt0022582': 961,
 'tt0022584': 962,
 'tt0022599': 963,
 'tt0022614': 964,
 'tt0022626': 965,
 'tt0022628': 966,
 'tt0022635': 967,
 'tt0022639': 968,
 'tt0022647': 969,
 'tt0022651': 970,
 'tt0022659': 971,
 'tt0022660': 972,
 'tt0022663': 973,
 'tt0022670': 974,
 'tt0022675': 975,
 'tt0022676': 976,
 'tt0022679': 977,
 'tt0022681': 978,
 'tt0022685': 979,
 'tt0022688': 980,
 'tt0022689': 981,
 'tt0022694': 982,
 'tt0022696': 983,
 'tt0022698': 984,
 'tt0022700': 985,
 'tt0022708': 986,
 'tt0022714': 987,
 'tt0022715': 988,
 'tt0022718': 989,
 'tt0022725': 990,
 'tt0022730': 991,
 'tt0022737': 992,
 'tt0022751': 993,
 'tt0022753': 994,
 'tt0022755': 995,
 'tt0022775': 996,
 'tt0022787': 997,
 'tt0022788': 998,
 'tt0022790': 999,
 ...}

In [1]:
#distances = pairwise_distances(X, metric = 'cosine')

NameError: name 'pairwise_distances' is not defined

In [ ]:
#user_index = [user_mapper[i] for i in df['user_id']]
#movie_index = [movie_mapper[i] for i in df['imdb_id']]

##print((df["scaled_rating"], (movie_index, user_index)))

In [16]:
similarities = 1.0 - pairwise_distances(X, metric = 'cosine')

In [ ]:
#similarities = 1.0 - distances

In [17]:
similarities.shape

(53786, 53786)

In [18]:
recommender = pd.DataFrame(similarities, index = ordered_titles, columns=ordered_titles)

recommender.head()

title,Carmencita,Pauvre Pierrot,Corbett and Courtney Before the Kinetograph,Edison Kinetoscopic Record of a Sneeze,La sortie de l'usine Lumière à Lyon,L'arrivée d'un train à La Ciotat,Le débarquement du congrès de photographie à Lyon,L'arroseur arrosé,Barque sortant du port,Les forgerons,...,Fin de siglo,Kaijû no kodomo,Falling Inn Love,Nate Bargatze: The Tennessee Kid,The Far Green Country,Paranormal Investigation,Momenti di trascurabile felicità,Koridor bessmertiya,Lupin the IIIrd: Mine Fujiko no Uso,Kaithi
title,,,,,,,,,,,,,,,,,,,,,
Carmencita,1.000000,0.687353,0.243162,0.221897,0.367293,0.254815,0.630711,0.459319,0.674200,0.667711,...,0.000000,0.0,0.000000,0.000000,0.256323,0.0,0.232391,0.0,0.0,0.0
Pauvre Pierrot,0.687353,1.000000,0.229815,0.199731,0.428713,0.254607,0.575176,0.373734,0.707992,0.696796,...,0.000000,0.0,0.000000,0.000000,0.242253,0.0,0.219635,0.0,0.0,0.0
Corbett and Courtney Before the Kinetograph,0.243162,0.229815,1.000000,0.095388,0.127221,0.240332,0.399556,0.353928,0.360668,0.401846,...,0.000000,0.0,0.000000,0.000000,0.411365,0.0,0.372957,0.0,0.0,0.0
Edison Kinetoscopic Record of a Sneeze,0.221897,0.199731,0.095388,1.000000,0.236683,0.159140,0.347252,0.184956,0.235091,0.234647,...,0.006218,0.0,0.002047,0.002789,0.100551,0.0,0.091163,0.0,0.0,0.0
La sortie de l'usine Lumière à Lyon,0.367293,0.428713,0.127221,0.236683,1.000000,0.407914,0.369062,0.493358,0.372334,0.367538,...,0.000000,0.0,0.000000,0.000000,0.134107,0.0,0.121586,0.0,0.0,0.0

In [19]:
imdb_titles = pd.read_csv('../Data/Large-Data/imdb_titles.csv')

In [20]:
imdb_titles.head()

     titleId                   title
0  tt0000001              Carmencita
1  tt0000002  Le clown et ses chiens
2  tt0000003          Pauvre Pierrot
3  tt0000004             Un bon bock
4  tt0000005        Blacksmith Scene

In [21]:
# Get unique IMDb IDs from our movie 
movie_mapper_ids = set(movie_mapper.keys())

# Assuming `imdb_titles` is your DataFrame with columns 'imdb_id' and 'title'
# Filter the DataFrame based on whether the imdb_id exists in movie_mapper_ids
titles_in_movie_mapper = imdb_titles[imdb_titles['titleId'].isin(movie_mapper_ids)]

# Print the resulting DataFrame
titles_in_movie_mapper.head()

     titleId                                        title
0  tt0000001                                   Carmencita
2  tt0000003                               Pauvre Pierrot
6  tt0000007  Corbett and Courtney Before the Kinetograph
7  tt0000008       Edison Kinetoscopic Record of a Sneeze
9  tt0000010          La sortie de l'usine Lumière à Lyon

In [23]:
x = input('What movie did you just watch?')

In [24]:
x

'Toy Story'

In [22]:
#x = 'Toy Story'

for title in titles_in_movie_mapper.loc[titles_in_movie_mapper['title'].str.contains(x), 'title']:
    print(title)
    print(recommender[title].sort_values(ascending = False)[1:11])
    print()
    print()

Toy Story
title
Star Wars                                         0.564555
Toy Story 2                                       0.564336
Back to the Future                                0.550556
Forrest Gump                                      0.546750
Jurassic Park                                     0.541597
Independence Day                                  0.537916
Star Wars: Episode VI - Return of the Jedi        0.537413
The Lion King                                     0.528811
Aladdin                                           0.525246
Star Wars: Episode V - The Empire Strikes Back    0.513098
Name: Toy Story, dtype: float64


Toy Story 2
title
Toy Story             0.564336
A Bug's Life          0.562676
Monsters, Inc.        0.520420
Shrek                 0.505918
Finding Nemo          0.480358
Ghostbusters          0.470100
Chicken Run           0.467211
Men in Black          0.464324
Back to the Future    0.461655
The Incredibles       0.457856
Name: Toy Story 2, dtype: float64


Toy Story 3
title
Up                          0.573219
WALL·E                      0.513029
How to Train Your Dragon    0.507794
Ratatouille                 0.503471
Inception                   0.464262
Despicable Me               0.458962
The Avengers                0.458575
Inside Out                  0.458262
The Incredibles             0.451498
The Dark Knight Rises       0.443894
Name: Toy Story 3, dtype: float64


Toy Story 4
title
Ralph Breaks the Internet     0.354639
Booksmart                     0.335460
The Lion King                 0.325441
Spider-Man: Far from Home     0.317002
Pokémon: Detective Pikachu    0.311762
Avengers: Endgame             0.304881
Rocketman                     0.303473
Captain Marvel                0.301367
Shazam!                       0.298491
Aladdin                       0.298336
Name: Toy Story 4, dtype: float64


Toy Story of Terror!
title
Toy Story That Time Forgot    0.438984
Hawaiian Vacation             0.307703
Partysaurus Rex               0.306924
Small Fry                     0.304060
Free Birds                    0.234469
Your Friend the Rat           0.222808
Day & Night                   0.219619
Scared Shrekless              0.209409
The Blue Umbrella             0.199807
Boundin'                      0.197534
Name: Toy Story of Terror!, dtype: float64


Toy Story That Time Forgot
title
Toy Story of Terror!                                                    0.438984
Partysaurus Rex                                                         0.307728
Hawaiian Vacation                                                       0.286834
Small Fry                                                               0.272045
George and A.J.                                                         0.226559
Lego DC Super Heroes: Justice League - Attack of the Legion of Doom!    0.216852
Scooby-Doo! Adventures: The Mystery Map                                 0.207217
Garfield's Fun Fest                                                     0.202332
Allez Oop                                                               0.202290
Tom and Jerry & The Wizard of Oz                                        0.199177
Name: Toy Story That Time Forgot, dtype: float64