# Recommender System Modeling
In this notebook, we will work through multiple iterations of our movie recommender system model. First, we will create a simpler model using just the movie reviews from IMDb. This will give us a baseline model that we can potentially improve on by adding more detailed features.

In [1]:
# Imports
import pandas as pd
import numpy as np
from scipy import sparse
from sklearn.metrics.pairwise import pairwise_distances, cosine_distances, cosine_similarity

## Simple Recommender System
This is a simple recommender system using cosine similarity that can be improved upon and replaced when all our data is properly formatted.

In [2]:
# Let's try this with only our MovieLens reviews first
ml_reviews = pd.read_csv('../Data/Large-Data/ml_reviews.csv')
ml_reviews

          user_id    imdb_id  scaled_rating                    title
0               1  tt0110912           10.0             Pulp Fiction
1               1  tt0111495            7.0    Trois couleurs: Rouge
2               1  tt0108394           10.0     Trois couleurs: Bleu
3               1  tt0114787           10.0              Underground
4               1  tt0045152            7.0      Singin' in the Rain
...           ...        ...            ...                      ...
24969860   162541  tt0382932            9.0              Ratatouille
24969861   162541  tt0389790            5.0                Bee Movie
24969862   162541  tt0952640            4.0  Alvin and the Chipmunks
24969863   162541  tt0468569            8.0          The Dark Knight
24969864   162541  tt1013753           10.0                     Milk

[24969865 rows x 4 columns]

In [3]:
# First let's create a pivot table with a small sample of movie reviews
sampled_reviews = ml_reviews.sample(frac=0.01, random_state=42)

In [23]:
sampled_reviews['title'].nunique()

13868

In [18]:
print(f"Reviews: {len(sampled_reviews['imdb_id'])}")
print(f"Movies: {sampled_reviews['imdb_id'].nunique()}")
print(f"Users: {sampled_reviews['user_id'].nunique()}")

Reviews: 249699
Movies: 14341
Users: 89946

In [4]:
pivot = sampled_reviews.pivot_table(values='scaled_rating', index='title', columns='user_id')
pivot.head()

user_id,1,2,3,4,5,8,9,10,12,13,...,162528,162529,162532,162533,162534,162535,162536,162538,162539,162540
title,,,,,,,,,,,,,,,,,,,,,
#Followme,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
#Nerealnaya lyubov,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
$5 a Day,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
$9.99,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
$ellebrity,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [25]:
pivot.loc['#Followme']

user_id
1        NaN
2        NaN
3        NaN
4        NaN
5        NaN
          ..
162535   NaN
162536   NaN
162538   NaN
162539   NaN
162540   NaN
Name: #Followme, Length: 89946, dtype: float64

In [ ]:
#pivot = ml_reviews.pivot_table(values = 'scaled_rating', index = 'title', columns = 'user_id')

#pivot.head()

In [5]:
pivot.shape

(13868, 89946)

In [6]:
pivot_sparse = sparse.csr_matrix(pivot.fillna(0))

In [7]:
distances = pairwise_distances(pivot_sparse, metric = 'cosine')

In [9]:
similarities = 1.0 - distances

In [10]:
recommender = pd.DataFrame(similarities, index = pivot.index, columns=pivot.index)

recommender.head()

title,#Followme,#Nerealnaya lyubov,$5 a Day,$9.99,$ellebrity,'71,'A' gai wak 2,'Breaker' Morant,'R Xmas,'Round Midnight,...,État de siège,Évolution,Être et avoir,"Ó Paí, Ó",Ôdishon,Ôkami kodomo no Ame to Yuki,Ônibus 174,Ôritsu uchûgun Oneamisu no tsubasa,Üvegtigris,Üç Maymun
title,,,,,,,,,,,,,,,,,,,,,
#Followme,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
#Nerealnaya lyubov,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
$5 a Day,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
$9.99,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
$ellebrity,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [27]:
recommender.loc['#Followme']

title
#Followme                             1.0
#Nerealnaya lyubov                    0.0
$5 a Day                              0.0
$9.99                                 0.0
$ellebrity                            0.0
                                     ...
Ôkami kodomo no Ame to Yuki           0.0
Ônibus 174                            0.0
Ôritsu uchûgun Oneamisu no tsubasa    0.0
Üvegtigris                            0.0
Üç Maymun                             0.0
Name: #Followme, Length: 13868, dtype: float64

In [15]:
imdb_titles = pd.read_csv('../Data/Large-Data/imdb_titles.csv')

In [16]:
imdb_titles.head()

     titleId                   title
0  tt0000001              Carmencita
1  tt0000002  Le clown et ses chiens
2  tt0000003          Pauvre Pierrot
3  tt0000004             Un bon bock
4  tt0000005        Blacksmith Scene

In [17]:
q = 'Toy Story'

for title in imdb_titles.loc[imdb_titles['title'].str.contains(q), 'title']:
    print(title)
    print(recommender[title].sort_values(ascending = False)[1:11])
    print()
    print()

Toy Story
title
Flicka                                                              0.050089
They Wait                                                           0.050089
DOA: Dead or Alive                                                  0.048198
Fancy Pants                                                         0.047519
Godspell: A Musical Based on the Gospel According to St. Matthew    0.045080
Courageous                                                          0.045080
Talk Radio                                                          0.044801
Ball of Fire                                                        0.043786
Punchline                                                           0.042475
Scooby-Doo and the Loch Ness Monster                                0.040071
Name: Toy Story, dtype: float64


Toy Story 2
title
Nightmare at Noon                                                0.077706
Her Alibi                                                        0.077706
Gertrud                                                          0.077706
Zorro                                                            0.077706
Triumph's Election Watch 2016                                    0.077706
Ron White: If You Quit Listening, I'll Shut Up                   0.077706
Marvel One-Shot: The Consultant                                  0.077706
Beware the Moon: Remembering 'An American Werewolf in London'    0.077706
Underclassman                                                    0.077706
Follow That Dream                                                0.077706
Name: Toy Story 2, dtype: float64


Toy Story
title
Flicka                                                              0.050089
They Wait                                                           0.050089
DOA: Dead or Alive                                                  0.048198
Fancy Pants                                                         0.047519
Godspell: A Musical Based on the Gospel According to St. Matthew    0.045080
Courageous                                                          0.045080
Talk Radio                                                          0.044801
Ball of Fire                                                        0.043786
Punchline                                                           0.042475
Scooby-Doo and the Loch Ness Monster                                0.040071
Name: Toy Story, dtype: float64


The Story Behind 'Toy Story'

KeyError: "The Story Behind 'Toy Story'"

## Scale to include more reviews

In [30]:
over_100 = pd.read_csv('../Data/Large-Data/over_100_reviews.csv')
over_100

/var/folders/jc/vvd13n2d3m33dzsrsg9ydhb00000gn/T/ipykernel_2114/3744431260.py:1: DtypeWarning: Columns (0) have mixed types. Specify dtype option on import or set low_memory=False.
  over_100 = pd.read_csv('../Data/Large-Data/over_100_reviews.csv')

            user_id    imdb_id  scaled_rating                      title
0                 1  tt0110912           10.0               Pulp Fiction
1                 1  tt0111495            7.0      Trois couleurs: Rouge
2                 1  tt0108394           10.0       Trois couleurs: Bleu
3                 1  tt0114787           10.0                Underground
4                 1  tt0045152            7.0        Singin' in the Rain
...             ...        ...            ...                        ...
27522147  ur3174947  tt0096895            8.0                     Batman
27522148  ur0581842  tt0107977            6.0  Robin Hood: Men in Tights
27522149  ur3174947  tt0103776            8.0             Batman Returns
27522150  ur4581944  tt0102614            8.0            Out for Justice
27522151  ur1162550  tt0325596            7.0               The I Inside

[27522152 rows x 4 columns]

In [34]:
print(f"Reviews: {len(over_100['imdb_id'])}")
print(f"Movies: {over_100['imdb_id'].nunique()}")
print(f"Users: {over_100['user_id'].nunique()}")

Reviews: 27522152
Movies: 14339
Users: 1229633

In [35]:
pivot_100 = over_100.pivot_table(values='scaled_rating', index='title', columns='user_id')
pivot_100.head()

/var/folders/jc/vvd13n2d3m33dzsrsg9ydhb00000gn/T/ipykernel_2114/3778825614.py:1: PerformanceWarning: The following operation may generate 16858268430 cells in the resulting pandas object.
  pivot_100 = over_100.pivot_table(values='scaled_rating', index='title', columns='user_id')

:

In [ ]:
pivot_100 = ml_reviews.pivot_table(values = 'scaled_rating', index = 'title', columns = 'user_id')

pivot_100.head()

In [32]:
pivot_100.shape

In [ ]:
pivot_100_sparse = sparse.csr_matrix(pivot_100.fillna(0))

In [ ]:
distances_100 = pairwise_distances(pivot_100_sparse, metric = 'cosine')

In [ ]:
similarities_100 = 1.0 - distances_100

In [33]:
recommender_100 = pd.DataFrame(similarities_100, index = pivot_100.index, columns=pivot_100.index)

recommender_100.head()

In [ ]:
imdb_titles.head()

     titleId                   title
0  tt0000001              Carmencita
1  tt0000002  Le clown et ses chiens
2  tt0000003          Pauvre Pierrot
3  tt0000004             Un bon bock
4  tt0000005        Blacksmith Scene

In [ ]:
q = 'Toy Story'

for title in imdb_titles.loc[imdb_titles['title'].str.contains(q), 'title']:
    print(title)
    print(recommender_100[title].sort_values(ascending = False)[1:11])
    print()
    print()

Toy Story
title
Flicka                                                              0.050089
They Wait                                                           0.050089
DOA: Dead or Alive                                                  0.048198
Fancy Pants                                                         0.047519
Godspell: A Musical Based on the Gospel According to St. Matthew    0.045080
Courageous                                                          0.045080
Talk Radio                                                          0.044801
Ball of Fire                                                        0.043786
Punchline                                                           0.042475
Scooby-Doo and the Loch Ness Monster                                0.040071
Name: Toy Story, dtype: float64


Toy Story 2
title
Nightmare at Noon                                                0.077706
Her Alibi                                                        0.077706
Gertrud                                                          0.077706
Zorro                                                            0.077706
Triumph's Election Watch 2016                                    0.077706
Ron White: If You Quit Listening, I'll Shut Up                   0.077706
Marvel One-Shot: The Consultant                                  0.077706
Beware the Moon: Remembering 'An American Werewolf in London'    0.077706
Underclassman                                                    0.077706
Follow That Dream                                                0.077706
Name: Toy Story 2, dtype: float64


Toy Story
title
Flicka                                                              0.050089
They Wait                                                           0.050089
DOA: Dead or Alive                                                  0.048198
Fancy Pants                                                         0.047519
Godspell: A Musical Based on the Gospel According to St. Matthew    0.045080
Courageous                                                          0.045080
Talk Radio                                                          0.044801
Ball of Fire                                                        0.043786
Punchline                                                           0.042475
Scooby-Doo and the Loch Ness Monster                                0.040071
Name: Toy Story, dtype: float64


The Story Behind 'Toy Story'

KeyError: "The Story Behind 'Toy Story'"

# skipping pivot table creation

In [5]:
from scipy.sparse import csr_matrix

In [11]:
def create_matrix(df):
     
    N = len(df['user_id'].unique())
    M = len(df['imdb_id'].unique())
     
    # Map Ids to indices
    user_mapper = dict(zip(np.unique(df["user_id"]), list(range(N))))
    movie_mapper = dict(zip(np.unique(df["imdb_id"]), list(range(M))))
     
    # Map indices to IDs
    user_inv_mapper = dict(zip(list(range(N)), np.unique(df["user_id"])))
    movie_inv_mapper = dict(zip(list(range(M)), np.unique(df["imdb_id"])))
     
    user_index = [user_mapper[i] for i in df['user_id']]
    movie_index = [movie_mapper[i] for i in df['imdb_id']]
 
    X = csr_matrix((df["scaled_rating"], (movie_index, user_index)), shape=(M, N))
     
    return X, user_mapper, movie_mapper, user_inv_mapper, movie_inv_mapper, user_index, movie_index

In [32]:
ordered_titles = sampled_reviews.drop_duplicates(subset = 'imdb_id').sort_values(by='imdb_id', ascending=True)['title']

In [12]:
X, user_mapper, movie_mapper, user_inv_mapper, movie_inv_mapper, user_index, movie_index = create_matrix(sampled_reviews)

In [20]:
len(movie_mapper)

14341

In [30]:
movie_mapper

{'tt0000012': 0,
 'tt0000029': 1,
 'tt0000091': 2,
 'tt0000274': 3,
 'tt0000299': 4,
 'tt0000355': 5,
 'tt0000364': 6,
 'tt0000417': 7,
 'tt0000420': 8,
 'tt0000455': 9,
 'tt0000567': 10,
 'tt0000682': 11,
 'tt0000840': 12,
 'tt0001527': 13,
 'tt0001737': 14,
 'tt0002130': 15,
 'tt0003643': 16,
 'tt0003733': 17,
 'tt0004008': 18,
 'tt0004546': 19,
 'tt0004972': 20,
 'tt0005960': 21,
 'tt0006333': 22,
 'tt0006684': 23,
 'tt0006864': 24,
 'tt0007361': 25,
 'tt0007507': 26,
 'tt0007819': 27,
 'tt0007832': 28,
 'tt0007880': 29,
 'tt0008133': 30,
 'tt0008879': 31,
 'tt0008975': 32,
 'tt0009018': 33,
 'tt0009611': 34,
 'tt0009968': 35,
 'tt0010323': 36,
 'tt0010726': 37,
 'tt0010747': 38,
 'tt0011439': 39,
 'tt0012224': 40,
 'tt0012255': 41,
 'tt0012349': 42,
 'tt0012364': 43,
 'tt0012543': 44,
 'tt0012763': 45,
 'tt0012945': 46,
 'tt0013025': 47,
 'tt0013086': 48,
 'tt0013427': 49,
 'tt0013442': 50,
 'tt0013626': 51,
 'tt0014341': 52,
 'tt0014358': 53,
 'tt0014429': 54,
 'tt0014538': 55,
 'tt0015064': 56,
 'tt0015163': 57,
 'tt0015324': 58,
 'tt0015400': 59,
 'tt0015648': 60,
 'tt0015841': 61,
 'tt0015864': 62,
 'tt0015873': 63,
 'tt0015881': 64,
 'tt0016039': 65,
 'tt0016220': 66,
 'tt0016332': 67,
 'tt0016544': 68,
 'tt0016641': 69,
 'tt0016654': 70,
 'tt0016847': 71,
 'tt0016884': 72,
 'tt0017136': 73,
 'tt0017416': 74,
 'tt0017463': 75,
 'tt0017751': 76,
 'tt0017765': 77,
 'tt0017843': 78,
 'tt0017925': 79,
 'tt0018192': 80,
 'tt0018328': 81,
 'tt0018455': 82,
 'tt0018528': 83,
 'tt0018578': 84,
 'tt0018737': 85,
 'tt0018742': 86,
 'tt0018773': 87,
 'tt0018806': 88,
 'tt0019127': 89,
 'tt0019254': 90,
 'tt0019412': 91,
 'tt0019421': 92,
 'tt0019422': 93,
 'tt0019429': 94,
 'tt0019644': 95,
 'tt0019702': 96,
 'tt0019729': 97,
 'tt0019760': 98,
 'tt0019777': 99,
 'tt0020112': 100,
 'tt0020269': 101,
 'tt0020414': 102,
 'tt0020475': 103,
 'tt0020530': 104,
 'tt0020629': 105,
 'tt0020640': 106,
 'tt0020641': 107,
 'tt0020668': 108,
 'tt0020697': 109,
 'tt0020768': 110,
 'tt0020793': 111,
 'tt0020821': 112,
 'tt0021079': 113,
 'tt0021149': 114,
 'tt0021156': 115,
 'tt0021165': 116,
 'tt0021262': 117,
 'tt0021282': 118,
 'tt0021577': 119,
 'tt0021746': 120,
 'tt0021749': 121,
 'tt0021752': 122,
 'tt0021756': 123,
 'tt0021814': 124,
 'tt0021884': 125,
 'tt0021890': 126,
 'tt0021933': 127,
 'tt0022017': 128,
 'tt0022074': 129,
 'tt0022100': 130,
 'tt0022111': 131,
 'tt0022150': 132,
 'tt0022158': 133,
 'tt0022286': 134,
 'tt0022517': 135,
 'tt0022599': 136,
 'tt0022626': 137,
 'tt0022676': 138,
 'tt0022735': 139,
 'tt0022827': 140,
 'tt0022835': 141,
 'tt0022879': 142,
 'tt0022913': 143,
 'tt0022958': 144,
 'tt0023027': 145,
 'tt0023042': 146,
 'tt0023180': 147,
 'tt0023227': 148,
 'tt0023238': 149,
 'tt0023245': 150,
 'tt0023249': 151,
 'tt0023285': 152,
 'tt0023293': 153,
 'tt0023305': 154,
 'tt0023369': 155,
 'tt0023382': 156,
 'tt0023427': 157,
 'tt0023556': 158,
 'tt0023563': 159,
 'tt0023590': 160,
 'tt0023613': 161,
 'tt0023622': 162,
 'tt0023634': 163,
 'tt0023649': 164,
 'tt0023686': 165,
 'tt0023876': 166,
 'tt0023911': 167,
 'tt0023926': 168,
 'tt0023940': 169,
 'tt0023948': 170,
 'tt0023969': 171,
 'tt0024025': 172,
 'tt0024028': 173,
 'tt0024034': 174,
 'tt0024069': 175,
 'tt0024166': 176,
 'tt0024183': 177,
 'tt0024184': 178,
 'tt0024188': 179,
 'tt0024216': 180,
 'tt0024252': 181,
 'tt0024264': 182,
 'tt0024360': 183,
 'tt0024368': 184,
 'tt0024380': 185,
 'tt0024404': 186,
 'tt0024593': 187,
 'tt0024660': 188,
 'tt0024772': 189,
 'tt0024803': 190,
 'tt0024844': 191,
 'tt0024852': 192,
 'tt0024902': 193,
 'tt0025164': 194,
 'tt0025316': 195,
 'tt0025410': 196,
 'tt0025452': 197,
 'tt0025586': 198,
 'tt0025746': 199,
 'tt0025799': 200,
 'tt0025878': 201,
 'tt0025913': 202,
 'tt0025919': 203,
 'tt0025942': 204,
 'tt0026029': 205,
 'tt0026071': 206,
 'tt0026073': 207,
 'tt0026138': 208,
 'tt0026174': 209,
 'tt0026197': 210,
 'tt0026246': 211,
 'tt0026266': 212,
 'tt0026421': 213,
 'tt0026424': 214,
 'tt0026529': 215,
 'tt0026656': 216,
 'tt0026663': 217,
 'tt0026676': 218,
 'tt0026752': 219,
 'tt0026778': 220,
 'tt0026868': 221,
 'tt0026872': 222,
 'tt0026942': 223,
 'tt0027067': 224,
 'tt0027075': 225,
 'tt0027125': 226,
 'tt0027194': 227,
 'tt0027214': 228,
 'tt0027258': 229,
 'tt0027260': 230,
 'tt0027300': 231,
 'tt0027509': 232,
 'tt0027527': 233,
 'tt0027532': 234,
 'tt0027623': 235,
 'tt0027652': 236,
 'tt0027884': 237,
 'tt0027977': 238,
 'tt0027996': 239,
 'tt0028010': 240,
 'tt0028096': 241,
 'tt0028203': 242,
 'tt0028212': 243,
 'tt0028231': 244,
 'tt0028333': 245,
 'tt0028355': 246,
 'tt0028358': 247,
 'tt0028436': 248,
 'tt0028575': 249,
 'tt0028597': 250,
 'tt0028629': 251,
 'tt0028683': 252,
 'tt0028691': 253,
 'tt0028726': 254,
 'tt0028772': 255,
 'tt0028773': 256,
 'tt0028804': 257,
 'tt0028827': 258,
 'tt0028944': 259,
 'tt0028945': 260,
 'tt0028950': 261,
 'tt0028988': 262,
 'tt0029146': 263,
 'tt0029162': 264,
 'tt0029192': 265,
 'tt0029284': 266,
 'tt0029322': 267,
 'tt0029347': 268,
 'tt0029440': 269,
 'tt0029453': 270,
 'tt0029546': 271,
 'tt0029583': 272,
 'tt0029604': 273,
 'tt0029606': 274,
 'tt0029608': 275,
 'tt0029682': 276,
 'tt0029769': 277,
 'tt0029808': 278,
 'tt0029811': 279,
 'tt0029817': 280,
 'tt0029843': 281,
 'tt0029850': 282,
 'tt0029852': 283,
 'tt0029855': 284,
 'tt0029870': 285,
 'tt0029923': 286,
 'tt0029942': 287,
 'tt0029947': 288,
 'tt0029992': 289,
 'tt0030241': 290,
 'tt0030287': 291,
 'tt0030337': 292,
 'tt0030341': 293,
 'tt0030386': 294,
 'tt0030396': 295,
 'tt0030440': 296,
 'tt0030448': 297,
 'tt0030522': 298,
 'tt0030595': 299,
 'tt0030604': 300,
 'tt0030637': 301,
 'tt0030696': 302,
 'tt0030755': 303,
 'tt0030814': 304,
 'tt0030857': 305,
 'tt0030993': 306,
 'tt0031022': 307,
 'tt0031047': 308,
 'tt0031066': 309,
 'tt0031088': 310,
 'tt0031122': 311,
 'tt0031126': 312,
 'tt0031210': 313,
 'tt0031225': 314,
 'tt0031252': 315,
 'tt0031322': 316,
 'tt0031334': 317,
 'tt0031381': 318,
 'tt0031385': 319,
 'tt0031397': 320,
 'tt0031398': 321,
 'tt0031448': 322,
 'tt0031455': 323,
 'tt0031507': 324,
 'tt0031580': 325,
 'tt0031612': 326,
 'tt0031647': 327,
 'tt0031679': 328,
 'tt0031725': 329,
 'tt0031742': 330,
 'tt0031762': 331,
 'tt0031867': 332,
 'tt0031885': 333,
 'tt0031951': 334,
 'tt0031971': 335,
 'tt0032022': 336,
 'tt0032080': 337,
 'tt0032138': 338,
 'tt0032143': 339,
 'tt0032145': 340,
 'tt0032181': 341,
 'tt0032234': 342,
 'tt0032262': 343,
 'tt0032285': 344,
 'tt0032338': 345,
 'tt0032383': 346,
 'tt0032455': 347,
 'tt0032475': 348,
 'tt0032484': 349,
 'tt0032520': 350,
 'tt0032536': 351,
 'tt0032551': 352,
 'tt0032553': 353,
 'tt0032599': 354,
 'tt0032617': 355,
 'tt0032638': 356,
 'tt0032701': 357,
 'tt0032762': 358,
 'tt0032818': 359,
 'tt0032840': 360,
 'tt0032881': 361,
 'tt0032904': 362,
 'tt0032910': 363,
 'tt0032943': 364,
 'tt0032976': 365,
 'tt0033021': 366,
 'tt0033028': 367,
 'tt0033045': 368,
 'tt0033048': 369,
 'tt0033056': 370,
 'tt0033105': 371,
 'tt0033149': 372,
 'tt0033152': 373,
 'tt0033175': 374,
 'tt0033238': 375,
 'tt0033373': 376,
 'tt0033388': 377,
 'tt0033396': 378,
 'tt0033467': 379,
 'tt0033532': 380,
 'tt0033533': 381,
 'tt0033553': 382,
 'tt0033563': 383,
 'tt0033627': 384,
 'tt0033650': 385,
 'tt0033660': 386,
 'tt0033671': 387,
 'tt0033676': 388,
 'tt0033712': 389,
 'tt0033717': 390,
 'tt0033729': 391,
 'tt0033804': 392,
 'tt0033836': 393,
 'tt0033870': 394,
 'tt0033874': 395,
 'tt0033891': 396,
 'tt0033922': 397,
 'tt0033945': 398,
 'tt0034012': 399,
 'tt0034116': 400,
 'tt0034167': 401,
 'tt0034172': 402,
 'tt0034208': 403,
 'tt0034240': 404,
 'tt0034248': 405,
 'tt0034297': 406,
 'tt0034386': 407,
 'tt0034398': 408,
 'tt0034492': 409,
 'tt0034583': 410,
 'tt0034587': 411,
 'tt0034742': 412,
 'tt0034746': 413,
 'tt0034786': 414,
 'tt0034828': 415,
 'tt0034862': 416,
 'tt0034902': 417,
 'tt0034928': 418,
 'tt0034946': 419,
 'tt0035015': 420,
 'tt0035019': 421,
 'tt0035093': 422,
 'tt0035096': 423,
 'tt0035100': 424,
 'tt0035140': 425,
 'tt0035157': 426,
 'tt0035160': 427,
 'tt0035169': 428,
 'tt0035211': 429,
 'tt0035238': 430,
 'tt0035262': 431,
 'tt0035279': 432,
 'tt0035317': 433,
 'tt0035417': 434,
 'tt0035423': 435,
 'tt0035429': 436,
 'tt0035432': 437,
 'tt0035446': 438,
 'tt0035529': 439,
 'tt0035567': 440,
 'tt0035575': 441,
 'tt0035583': 442,
 'tt0035608': 443,
 'tt0035616': 444,
 'tt0035703': 445,
 'tt0035753': 446,
 'tt0035769': 447,
 'tt0035885': 448,
 'tt0035896': 449,
 'tt0035899': 450,
 'tt0035937': 451,
 'tt0035957': 452,
 'tt0035979': 453,
 'tt0036027': 454,
 'tt0036094': 455,
 'tt0036098': 456,
 'tt0036104': 457,
 'tt0036112': 458,
 'tt0036154': 459,
 'tt0036172': 460,
 'tt0036191': 461,
 'tt0036208': 462,
 'tt0036241': 463,
 'tt0036244': 464,
 'tt0036261': 465,
 'tt0036264': 466,
 'tt0036295': 467,
 'tt0036323': 468,
 'tt0036326': 469,
 'tt0036341': 470,
 'tt0036342': 471,
 'tt0036348': 472,
 'tt0036349': 473,
 'tt0036376': 474,
 'tt0036377': 475,
 'tt0036422': 476,
 'tt0036506': 477,
 'tt0036613': 478,
 'tt0036627': 479,
 'tt0036644': 480,
 'tt0036696': 481,
 'tt0036716': 482,
 'tt0036723': 483,
 'tt0036775': 484,
 'tt0036824': 485,
 'tt0036855': 486,
 'tt0036868': 487,
 'tt0036872': 488,
 'tt0036931': 489,
 'tt0036969': 490,
 'tt0036983': 491,
 'tt0037008': 492,
 'tt0037017': 493,
 'tt0037054': 494,
 'tt0037059': 495,
 'tt0037077': 496,
 'tt0037094': 497,
 'tt0037098': 498,
 'tt0037101': 499,
 'tt0037120': 500,
 'tt0037135': 501,
 'tt0037193': 502,
 'tt0037323': 503,
 'tt0037365': 504,
 'tt0037366': 505,
 'tt0037382': 506,
 'tt0037415': 507,
 'tt0037492': 508,
 'tt0037514': 509,
 'tt0037515': 510,
 'tt0037547': 511,
 'tt0037549': 512,
 'tt0037558': 513,
 'tt0037588': 514,
 'tt0037595': 515,
 'tt0037610': 516,
 'tt0037611': 517,
 'tt0037630': 518,
 'tt0037638': 519,
 'tt0037644': 520,
 'tt0037657': 521,
 'tt0037674': 522,
 'tt0037786': 523,
 'tt0037793': 524,
 'tt0037800': 525,
 'tt0037824': 526,
 'tt0037865': 527,
 'tt0037884': 528,
 'tt0037913': 529,
 'tt0037988': 530,
 'tt0037993': 531,
 'tt0038057': 532,
 'tt0038109': 533,
 'tt0038116': 534,
 'tt0038166': 535,
 'tt0038190': 536,
 'tt0038206': 537,
 'tt0038235': 538,
 'tt0038300': 539,
 'tt0038348': 540,
 'tt0038355': 541,
 'tt0038363': 542,
 'tt0038453': 543,
 'tt0038494': 544,
 'tt0038499': 545,
 'tt0038559': 546,
 'tt0038574': 547,
 'tt0038589': 548,
 'tt0038622': 549,
 'tt0038650': 550,
 'tt0038661': 551,
 'tt0038669': 552,
 'tt0038718': 553,
 'tt0038733': 554,
 'tt0038762': 555,
 'tt0038777': 556,
 'tt0038787': 557,
 'tt0038823': 558,
 'tt0038847': 559,
 'tt0038854': 560,
 'tt0038873': 561,
 'tt0038890': 562,
 'tt0038964': 563,
 'tt0038969': 564,
 'tt0038975': 565,
 'tt0038988': 566,
 'tt0038991': 567,
 'tt0039017': 568,
 'tt0039066': 569,
 'tt0039111': 570,
 'tt0039152': 571,
 'tt0039169': 572,
 'tt0039190': 573,
 'tt0039192': 574,
 'tt0039204': 575,
 'tt0039251': 576,
 'tt0039286': 577,
 'tt0039302': 578,
 'tt0039305': 579,
 'tt0039306': 580,
 'tt0039317': 581,
 'tt0039370': 582,
 'tt0039402': 583,
 'tt0039404': 584,
 'tt0039416': 585,
 'tt0039417': 586,
 'tt0039420': 587,
 'tt0039502': 588,
 'tt0039536': 589,
 'tt0039545': 590,
 'tt0039566': 591,
 'tt0039589': 592,
 'tt0039628': 593,
 'tt0039631': 594,
 'tt0039645': 595,
 'tt0039661': 596,
 'tt0039677': 597,
 'tt0039689': 598,
 'tt0039725': 599,
 'tt0039739': 600,
 'tt0039853': 601,
 'tt0040064': 602,
 'tt0040068': 603,
 'tt0040076': 604,
 'tt0040098': 605,
 'tt0040186': 606,
 'tt0040202': 607,
 'tt0040221': 608,
 'tt0040308': 609,
 'tt0040366': 610,
 'tt0040369': 611,
 'tt0040416': 612,
 'tt0040427': 613,
 'tt0040457': 614,
 'tt0040458': 615,
 'tt0040491': 616,
 'tt0040506': 617,
 'tt0040522': 618,
 'tt0040536': 619,
 'tt0040550': 620,
 'tt0040580': 621,
 'tt0040613': 622,
 'tt0040631': 623,
 'tt0040636': 624,
 'tt0040662': 625,
 'tt0040679': 626,
 'tt0040695': 627,
 'tt0040723': 628,
 'tt0040724': 629,
 'tt0040725': 630,
 'tt0040740': 631,
 'tt0040746': 632,
 'tt0040806': 633,
 'tt0040823': 634,
 'tt0040852': 635,
 'tt0040872': 636,
 'tt0040876': 637,
 'tt0040897': 638,
 'tt0040976': 639,
 'tt0041088': 640,
 'tt0041090': 641,
 'tt0041094': 642,
 'tt0041098': 643,
 'tt0041113': 644,
 'tt0041154': 645,
 'tt0041158': 646,
 'tt0041178': 647,
 'tt0041198': 648,
 'tt0041207': 649,
 'tt0041268': 650,
 'tt0041368': 651,
 'tt0041386': 652,
 'tt0041414': 653,
 'tt0041428': 654,
 'tt0041452': 655,
 'tt0041473': 656,
 'tt0041498': 657,
 'tt0041503': 658,
 'tt0041507': 659,
 'tt0041509': 660,
 'tt0041546': 661,
 'tt0041594': 662,
 'tt0041604': 663,
 'tt0041650': 664,
 'tt0041699': 665,
 'tt0041716': 666,
 'tt0041746': 667,
 'tt0041792': 668,
 'tt0041841': 669,
 'tt0041858': 670,
 'tt0041859': 671,
 'tt0041866': 672,
 'tt0041931': 673,
 'tt0041944': 674,
 'tt0041959': 675,
 'tt0041968': 676,
 'tt0041996': 677,
 'tt0042040': 678,
 'tt0042041': 679,
 'tt0042054': 680,
 'tt0042192': 681,
 'tt0042208': 682,
 'tt0042209': 683,
 'tt0042276': 684,
 'tt0042286': 685,
 'tt0042325': 686,
 'tt0042327': 687,
 'tt0042332': 688,
 'tt0042354': 689,
 'tt0042367': 690,
 'tt0042369': 691,
 'tt0042393': 692,
 'tt0042436': 693,
 'tt0042447': 694,
 'tt0042451': 695,
 'tt0042490': 696,
 'tt0042496': 697,
 'tt0042530': 698,
 'tt0042531': 699,
 'tt0042539': 700,
 'tt0042546': 701,
 'tt0042593': 702,
 'tt0042619': 703,
 'tt0042646': 704,
 'tt0042727': 705,
 'tt0042742': 706,
 'tt0042804': 707,
 'tt0042832': 708,
 'tt0042876': 709,
 'tt0042895': 710,
 'tt0042897': 711,
 'tt0042898': 712,
 'tt0042994': 713,
 'tt0043012': 714,
 'tt0043014': 715,
 'tt0043044': 716,
 'tt0043067': 717,
 'tt0043084': 718,
 'tt0043117': 719,
 'tt0043123': 720,
 'tt0043137': 721,
 'tt0043147': 722,
 'tt0043255': 723,
 'tt0043265': 724,
 'tt0043274': 725,
 'tt0043278': 726,
 'tt0043313': 727,
 'tt0043325': 728,
 'tt0043332': 729,
 'tt0043338': 730,
 'tt0043362': 731,
 'tt0043379': 732,
 'tt0043386': 733,
 'tt0043411': 734,
 'tt0043456': 735,
 'tt0043461': 736,
 'tt0043479': 737,
 'tt0043503': 738,
 'tt0043540': 739,
 'tt0043548': 740,
 'tt0043560': 741,
 'tt0043614': 742,
 'tt0043618': 743,
 'tt0043625': 744,
 'tt0043665': 745,
 'tt0043686': 746,
 'tt0043759': 747,
 'tt0043809': 748,
 'tt0043859': 749,
 'tt0043899': 750,
 'tt0043924': 751,
 'tt0043938': 752,
 'tt0043949': 753,
 'tt0043953': 754,
 'tt0043961': 755,
 'tt0043983': 756,
 'tt0044008': 757,
 'tt0044030': 758,
 'tt0044072': 759,
 'tt0044079': 760,
 'tt0044081': 761,
 'tt0044121': 762,
 'tt0044198': 763,
 'tt0044205': 764,
 'tt0044391': 765,
 'tt0044410': 766,
 'tt0044413': 767,
 'tt0044419': 768,
 'tt0044453': 769,
 'tt0044486': 770,
 'tt0044517': 771,
 'tt0044557': 772,
 'tt0044672': 773,
 'tt0044685': 774,
 'tt0044706': 775,
 'tt0044741': 776,
 'tt0044744': 777,
 'tt0044760': 778,
 'tt0044811': 779,
 'tt0044829': 780,
 'tt0044837': 781,
 'tt0044876': 782,
 'tt0044916': 783,
 'tt0044926': 784,
 'tt0044941': 785,
 'tt0044953': 786,
 'tt0044954': 787,
 'tt0044982': 788,
 'tt0045002': 789,
 'tt0045012': 790,
 'tt0045034': 791,
 'tt0045061': 792,
 'tt0045094': 793,
 'tt0045102': 794,
 'tt0045112': 795,
 'tt0045124': 796,
 'tt0045125': 797,
 'tt0045152': 798,
 'tt0045162': 799,
 'tt0045177': 800,
 'tt0045247': 801,
 'tt0045251': 802,
 'tt0045274': 803,
 'tt0045361': 804,
 'tt0045464': 805,
 'tt0045537': 806,
 'tt0045554': 807,
 'tt0045555': 808,
 'tt0045557': 809,
 'tt0045564': 810,
 'tt0045585': 811,
 'tt0045586': 812,
 'tt0045591': 813,
 'tt0045607': 814,
 'tt0045609': 815,
 'tt0045646': 816,
 'tt0045706': 817,
 'tt0045708': 818,
 'tt0045710': 819,
 'tt0045758': 820,
 'tt0045793': 821,
 'tt0045810': 822,
 'tt0045825': 823,
 'tt0045826': 824,
 'tt0045848': 825,
 'tt0045877': 826,
 'tt0045888': 827,
 'tt0045891': 828,
 'tt0045897': 829,
 'tt0045917': 830,
 'tt0045920': 831,
 'tt0045963': 832,
 'tt0045966': 833,
 'tt0046022': 834,
 'tt0046058': 835,
 'tt0046109': 836,
 'tt0046126': 837,
 'tt0046143': 838,
 'tt0046183': 839,
 'tt0046187': 840,
 'tt0046247': 841,
 'tt0046248': 842,
 'tt0046250': 843,
 'tt0046268': 844,
 'tt0046269': 845,
 'tt0046303': 846,
 'tt0046359': 847,
 'tt0046414': 848,
 'tt0046435': 849,
 'tt0046438': 850,
 'tt0046451': 851,
 'tt0046478': 852,
 'tt0046487': 853,
 'tt0046511': 854,
 'tt0046521': 855,
 'tt0046534': 856,
 'tt0046560': 857,
 'tt0046672': 858,
 'tt0046754': 859,
 'tt0046806': 860,
 'tt0046807': 861,
 'tt0046816': 862,
 'tt0046828': 863,
 'tt0046839': 864,
 'tt0046876': 865,
 'tt0046889': 866,
 'tt0046899': 867,
 'tt0046907': 868,
 'tt0046911': 869,
 'tt0046912': 870,
 'tt0046921': 871,
 'tt0046935': 872,
 'tt0046949': 873,
 'tt0046968': 874,
 'tt0046969': 875,
 'tt0047030': 876,
 'tt0047034': 877,
 'tt0047136': 878,
 'tt0047162': 879,
 'tt0047187': 880,
 'tt0047296': 881,
 'tt0047313': 882,
 'tt0047396': 883,
 'tt0047424': 884,
 'tt0047437': 885,
 'tt0047444': 886,
 'tt0047445': 887,
 'tt0047472': 888,
 'tt0047478': 889,
 'tt0047479': 890,
 'tt0047522': 891,
 'tt0047528': 892,
 'tt0047573': 893,
 'tt0047574': 894,
 'tt0047577': 895,
 'tt0047630': 896,
 'tt0047673': 897,
 'tt0047677': 898,
 'tt0047679': 899,
 'tt0047688': 900,
 'tt0047794': 901,
 'tt0047795': 902,
 'tt0047811': 903,
 'tt0047834': 904,
 'tt0047849': 905,
 'tt0047878': 906,
 'tt0047885': 907,
 'tt0047892': 908,
 'tt0047898': 909,
 'tt0047945': 910,
 'tt0047977': 911,
 'tt0047985': 912,
 'tt0048014': 913,
 'tt0048021': 914,
 'tt0048028': 915,
 'tt0048055': 916,
 'tt0048064': 917,
 'tt0048124': 918,
 'tt0048140': 919,
 'tt0048188': 920,
 'tt0048215': 921,
 'tt0048248': 922,
 'tt0048254': 923,
 'tt0048261': 924,
 'tt0048263': 925,
 'tt0048280': 926,
 'tt0048281': 927,
 'tt0048308': 928,
 'tt0048316': 929,
 'tt0048317': 930,
 'tt0048342': 931,
 'tt0048347': 932,
 'tt0048356': 933,
 'tt0048380': 934,
 'tt0048393': 935,
 'tt0048394': 936,
 'tt0048424': 937,
 'tt0048434': 938,
 'tt0048445': 939,
 'tt0048449': 940,
 'tt0048473': 941,
 'tt0048481': 942,
 'tt0048491': 943,
 'tt0048545': 944,
 'tt0048579': 945,
 'tt0048605': 946,
 'tt0048641': 947,
 'tt0048696': 948,
 'tt0048728': 949,
 'tt0048729': 950,
 'tt0048750': 951,
 'tt0048752': 952,
 'tt0048820': 953,
 'tt0048918': 954,
 'tt0048947': 955,
 'tt0048956': 956,
 'tt0048960': 957,
 'tt0048973': 958,
 'tt0048977': 959,
 'tt0048980': 960,
 'tt0049010': 961,
 'tt0049032': 962,
 'tt0049034': 963,
 'tt0049038': 964,
 'tt0049055': 965,
 'tt0049061': 966,
 'tt0049096': 967,
 'tt0049107': 968,
 'tt0049169': 969,
 'tt0049189': 970,
 'tt0049223': 971,
 'tt0049233': 972,
 'tt0049261': 973,
 'tt0049314': 974,
 'tt0049357': 975,
 'tt0049363': 976,
 'tt0049366': 977,
 'tt0049370': 978,
 'tt0049397': 979,
 'tt0049406': 980,
 'tt0049408': 981,
 'tt0049414': 982,
 'tt0049429': 983,
 'tt0049452': 984,
 'tt0049456': 985,
 'tt0049470': 986,
 'tt0049474': 987,
 'tt0049513': 988,
 'tt0049516': 989,
 'tt0049521': 990,
 'tt0049607': 991,
 'tt0049674': 992,
 'tt0049730': 993,
 'tt0049777': 994,
 'tt0049782': 995,
 'tt0049830': 996,
 'tt0049833': 997,
 'tt0049875': 998,
 'tt0049877': 999,
 ...}

In [13]:
distances = pairwise_distances(X, metric = 'cosine')

In [ ]:
#user_index = [user_mapper[i] for i in df['user_id']]
#movie_index = [movie_mapper[i] for i in df['imdb_id']]

##print((df["scaled_rating"], (movie_index, user_index)))

In [14]:
similarities = 1.0 - distances

In [17]:
similarities.shape

(14341, 14341)

In [ ]:
movie_index = [movie_mapper[i] for i in sampled_reviews['movieId']]

In [33]:
recommender = pd.DataFrame(similarities, index = ordered_titles, columns=ordered_titles)

recommender.head()

title,L'arrivée d'un train à La Ciotat,Repas de bébé,Le manoir du diable,Avenue de l'opéra,Le départ d'Arlequin et de Pierrette,Fire!,Panorama of Esplanade by Night,Le voyage dans la lune,Alice in Wonderland,Le mélomane,...,Between Two Ferns: The Movie,Panic: The Untold Story of the 2008 Financial Crisis,Black Mirror: Bandersnatch,Kitbull,Leaving Neverland,Man's First Friend,Vision Portraits,Yang tai shang,Naean-ui geunom,The Far Green Country
title,,,,,,,,,,,,,,,,,,,,,
L'arrivée d'un train à La Ciotat,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Repas de bébé,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Le manoir du diable,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Avenue de l'opéra,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Le départ d'Arlequin et de Pierrette,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0